<a href="https://colab.research.google.com/github/Kggzzz/KKU_data_mining/blob/master/Data103_Distance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Distance of norminal or categorical feature

(extra) Python data structure (Dictionary)

โดยใน dictionary จะสร้างข้อมูลโดยใช้ปีกกา{.....}

In [1]:
d_A = {'a':1,2:3,3:5,'cat':6}

In [2]:
d_A

{2: 3, 3: 5, 'a': 1, 'cat': 6}

โดยจะต้องกำหนดว่าเราจะใช้อะไรในการชี้ ใช่ใส่ 'cat' ให้คืนค่า 6

In [3]:
d_A['cat']

6

เป็นการเพิ่มค่าลงไปใน dictionary

In [4]:
d_A['dog'] = [1,2,3,4,5]

In [5]:
d_A

{2: 3, 3: 5, 'a': 1, 'cat': 6, 'dog': [1, 2, 3, 4, 5]}

In [7]:
import pandas as pd

In [10]:
data_dict = {'color' :['red','red','green'], #color = {'rad','green','blue'} 
                   'status':['single','married','single']} #status = {'single','married','divorced'}
data_dict

{'color': ['red', 'red', 'green'], 'status': ['single', 'married', 'single']}

In [9]:
data_pd = pd.DataFrame.from_dict(data_dict)
data_pd

   color   status
0    red   single
1    red  married
2  green   single

## Categorical feature distance method#1

In [11]:
list(data_pd.iloc[1,:])

['red', 'married']

การนับฟีเจอร์ p-m/p หรือ n/p

In [32]:
def meth1_dist(data1,data2) :
     N = 0
     print(f'data1 is {data1} and data2 is {data2}')
     for i in range(len(data1)) :
          print(f'feature{i} of data1 is {data1[i]},feature{i} of data2 is {data2[i]}')
          if data1[i] != data2[i] :
                 N = N+1
                 print(f' {data1[i]} is not equal {data2[i]} : updated ({N})')
          else :
                  print(f' {data1[i]} is equal {data2[i]} ')
     return N/len(data1)

In [33]:
meth1_dist(list(data_pd.iloc[0,:]),list(data_pd.iloc[1,:]))

data1 is ['red', 'single'] and data2 is ['red', 'married']
feature0 of data1 is red,feature0 of data2 is red
 red is equal red
feature1 of data1 is single,feature1 of data2 is married
 single is not equal married : updated (1)

0.5

## HW7 calculate distance matrix of data_pd using meth1_dist()

# Categorical feature distance method#2

In [34]:
pd.get_dummies(data_pd)

   color_green  color_red  status_married  status_single
0            0          1               0              1
1            0          1               1              0
2            1          0               0              1

การคำนวณแบบ binary 

เป็นเช็คว่าถ้าค่าเท่ากันจะนำไปบวกให้ q แต่ถ้าค่าไม่เท่ากันจะบวกให้ t อิงจากสูตร

In [40]:
def binary_sym_dist(data1,data2) :
      q = 0
      rs = 0
      t = 0
      for i in range(len(data1)) :
           if data1[i] == data2[i] :
              if data1[i] == 1 :
                    q = q+1
              else :
                    t = t+1
           if data1[i] != data2[i] :
                rs = rs+1
      return (rs)/(q+rs+t)

In [41]:
binary_sym_dist(list(data_pd_binary.iloc[0,:]),list(data_pd_binary.iloc[1,:]))

0.5

## HW8 calculate distance matrix of data_pd_binary using binary_sym_dist()