<a href="https://colab.research.google.com/github/Kggzzz/KKU_data_mining/blob/master/Data103_Distance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#เกี่ยวกับตัวเลข โดยเป็นตัวเลข หรือตารางตัวเลขอย่างเดียว
import numpy as np

## numpy array

In [2]:
np1 = np.array([[1,3,5],[2,4,6]])
np1

array([[1, 3, 5],
       [2, 4, 6]])

In [3]:
np2 = np.array([[1,2],[3,5],[2,0],[4,5]])
np2

array([[1, 2],
       [3, 5],
       [2, 0],
       [4, 5]])

In [4]:
np2.T

array([[1, 3, 2, 4],
       [2, 5, 0, 5]])

In [5]:
np2[0,:] #แถวกับหลัก

array([1, 2])

HW 6 สร้าง Distance metrix (Mahattan and Euclidean) ของ np2
โดยสร้าง function สำหรับคำนวณ Mahattan Distance และ Euclidean Distance

det Euclidean(data1,data2):

#process

return dist

In [6]:
def Manhattan(data1,data2) : 
      distx = data1[0]-data2[0]
      return distx

In [7]:
def Manhattan(data1,data2) : 
      distX = abs(data1[0]-data2[0])
      distY = abs(data1[1]-data2[1])
      return distX+distY

In [8]:
Manhattan(np2[0,:],np2[1,:])

5

In [9]:
dist_mat = mat = np.zeros((4,4))
dist_mat

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [10]:
for i in range(4) :
     for j in range(4) :
          dist_mat[i,j] = Manhattan(np2[i,:],np2[j,:])

dist_mat

array([[0., 5., 3., 6.],
       [5., 0., 6., 1.],
       [3., 6., 0., 7.],
       [6., 1., 7., 0.]])

คำสั่ง def และหลังจากนั้น function_name เป็นชื่อของฟังก์ชัน และในวงเล็บ () เป็นการกำหนดพารามิเตอร์ของฟังก์ชัน พารามิเตอร์ของฟังก์ชันนั้นสามารถมีจำนวนเท่าไหร่ก็ได้หรือไม่มีก็ได้

In [11]:
def Euclidean(data1,data2):
    distX = pow(abs(data1[0]-data2[0]),2) #อาจารย์บอกเอาadsออกเพราะยังไงมันก็ยกกำลัง2อยู่แล้ว ยังไงมันก็เป็น+
    distY = pow(abs(data1[1]-data2[1]),2)
    return distX+distY

In [12]:
dist_math1 = np.zeros((4,4))
dist_math1

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [13]:
for i in range(4):
    for j in range(4):
        dist_math1[i,j] = Euclidean(np2[i,:],np2[j,:])
dist_math1

array([[ 0., 13.,  5., 18.],
       [13.,  0., 26.,  1.],
       [ 5., 26.,  0., 29.],
       [18.,  1., 29.,  0.]])

In [14]:
import math

In [15]:
def Manhattan(data1,data2):
    distX = abs(data1[0]-data2[0]) # ใส่ abs เพื่อให้มันเป็นบวก
    distY = abs(data1[1]-data2[1]) # Y อยู่ตำแหน่งที่ 1
    return distX+distY

In [16]:
Manhattan(np2[0,:],np2[1,:])

5

.zeros คือ สร้าง array ที่ทุกค่าเป็น 0

In [17]:
# สร้าง array เปล่า 4x4 มาจากจำนวนข้อมูล .zeros คือ สร้าง array ที่ทุกค่าเป็น 0
dist_mat = np.zeros((4,4))
dist_mat

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [18]:
np2.shape # บอกจำนวนแถวและหลัก ของ เมตริกซ์

(4, 2)

## Distance of norminal or categorical feature

(extra) Python data structure (Dictionary)

โดยใน dictionary จะสร้างข้อมูลโดยใช้ปีกกา{.....}

In [19]:
d_A = {'a':1,2:3,3:5,'cat':6} #เวลาจะเรียกใช้ต้องชี้ค่าทุกครั้ง

In [20]:
d_A

{2: 3, 3: 5, 'a': 1, 'cat': 6}

โดยจะต้องกำหนดว่าเราจะใช้อะไรในการชี้ ใช่ใส่ 'cat' ให้คืนค่า 6

In [21]:
d_A['cat'] #เรียก cat จะคืนค่า 6 ที่กำหนดไว้ออกมา

6

เป็นการเพิ่มค่าลงไปใน dictionary  
เวลาจะเพิ่มค่าใส่ลงไปใน Dictionary โดยที่ index ที่จะเพิ่มค่า dog มี 1 2 3 4 5

In [22]:
d_A['dog'] = [1,2,3,4,5]

In [23]:
d_A

{2: 3, 3: 5, 'a': 1, 'cat': 6, 'dog': [1, 2, 3, 4, 5]}

In [24]:
del d_A[2] #คำสั่ง del ใช้ลบค่าใน dict ที่ต้องการออก

In [25]:
d_A

{3: 5, 'a': 1, 'cat': 6, 'dog': [1, 2, 3, 4, 5]}

In [26]:
import pandas as pd

In [27]:
data_dict = {'color' :['red','red','green'], #color = {'rad','green','blue'} 
                   'status':['single','married','single']} #status = {'single','married','divorced'}
data_dict

{'color': ['red', 'red', 'green'], 'status': ['single', 'married', 'single']}

##pd.DataFrame เป็นการสร้างข้อมูลใหม่ใน Dictionary
.from_dict เรียกใช้เพื่อสร้างตาราง

In [28]:
data_pd = pd.DataFrame.from_dict(data_dict)
data_pd

   color   status
0    red   single
1    red  married
2  green   single

## Categorical feature distance method#1

คำสั่ง .iloc : มองตารางจาก pandas ให้เป็น Numpy คือ มีแถวและหลัก

In [29]:
list(data_pd.iloc[1,:])

['red', 'married']

การนับฟีเจอร์ p-m/p หรือ n/p

In [30]:
def meth1_dist(data1,data2) :
     N = 0
     print(f'data1 is {data1} and data2 is {data2}')
     for i in range(len(data1)) :
          print(f'feature{i} of data1 is {data1[i]},feature{i} of data2 is {data2[i]}')
          if data1[i] != data2[i] :
                 N = N+1
                 print(f' {data1[i]} is not equal {data2[i]} : updated ({N})')
          else :
                  print(f' {data1[i]} is equal {data2[i]} ')
     return N/len(data1)

In [31]:
meth1_dist(list(data_pd.iloc[0,:]),list(data_pd.iloc[1,:]))

data1 is ['red', 'single'] and data2 is ['red', 'married']
feature0 of data1 is red,feature0 of data2 is red
 red is equal red
feature1 of data1 is single,feature1 of data2 is married
 single is not equal married : updated (1)

0.5

## HW7 calculate distance matrix of data_pd using meth1_dist()

อ.ต้นบอกให้นำไปวนloop เหมือน HW6

# Categorical feature distance method#2

In [32]:
pd.get_dummies(data_pd)

   color_green  color_red  status_married  status_single
0            0          1               0              1
1            0          1               1              0
2            1          0               0              1

การคำนวณแบบ binary 

เป็นเช็คว่าถ้าค่าเท่ากันจะนำไปบวกให้ q แต่ถ้าค่าไม่เท่ากันจะบวกให้ t อิงจากสูตร

In [33]:
data_pd_binary = pd.get_dummies(data_pd)
data_pd_binary

   color_green  color_red  status_married  status_single
0            0          1               0              1
1            0          1               1              0
2            1          0               0              1

In [34]:
def binary_sym_dist(data1,data2):
      q = 0
      rs = 0
      t = 0
      for i in range(len(data1)):
           if data1[i] == data2[i]:
                if data1[i] == 1:
                     q = q + 1
                else:
                      t = t + 1
           if data1[i] != data2[i] :
               rs = rs + 1

      return (rs)/(q+rs+t)

In [35]:
binary_sym_dist(list(data_pd_binary.iloc[0,:]),list(data_pd_binary.iloc[1,:]))

0.5

In [36]:
dist_math2 = np.zeros((3,3))
dist_math2

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [37]:
for i in range(3):
    for j in range(3):
        dist_math2[i,j] = binary_sym_dist(list(data_pd.iloc[i,:]),list(data_pd.iloc[j,:]))
dist_math2

array([[0. , 0.5, 0.5],
       [0.5, 0. , 1. ],
       [0.5, 1. , 0. ]])

## HW8 calculate distance matrix of data_pd_binary using binary_sym_dist()

In [38]:
binary_sym_dist1 = np.zeros((3,3))
binary_sym_dist1

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [39]:
for i in range(3):
    for j in range(3):
        binary_sym_dist1[i,j] = binary_sym_dist(list(data_pd_binary.iloc[i,:]),list(data_pd_binary.iloc[j,:]))
binary_sym_dist1

array([[0. , 0.5, 0.5],
       [0.5, 0. , 1. ],
       [0.5, 1. , 0. ]])