<a href="https://colab.research.google.com/github/Kggzzz/KKU_data_mining/blob/master/Final_Exam_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. จากข้อมูล (```w_restaurant.csv```, ```search_click.csv```, ```search_request.csv```) ใน http://qr.tebs.io/TTGDFf สร้าง model เพื่อทำนาย (Classification) ว่าผลการ search เป็นร้านอาหารหรือไม่(```is_food = = True```) โดยพิจารณาจาก 
- วันในสัปดาห์ที่ทำการ search (```Monday-Sunday```) 
- วันในที่ทำการ search (```1-31```)
- เวลาที่ทำการ search (```1-24```)

หมายเหตุที่ 1 สามารถใช้ function ที่ให้มาช่วยในการทำงานได้
1. ```extract_time()``` ซึ่ง input เป็น ```timestamp``` และ output เป็น ```เวลาที่ทำการ search``` ```วันในที่ทำการ search``` ```วันในสัปดาห์ที่ทำการ search```

2. ```is_food``` ซึ่ง input เป็น ```category_name``` และ ```output``` เป็น คำตอบว่า ```เป็นร้านอาหารหรือไม่```

หมายเหตุที่ 2 ควรเตรียมข้อมูลโดยรวมข้อมูลจาก ตาราง ```w_restaurant.csv```, ```search_click.csv```, ```search_request.csv``` ให้ได้ในรูปแบบ ต่อไปนี้
![exam_table.PNG]()

(200 คะแนน)

In [28]:
import datetime
def extract_time(datetime_s):
    EX_date = datetime.datetime.strptime(datetime_s, "%Y-%m-%d %H:%M:%S.%f")
    return EX_date.hour, EX_date.day, get_day(EX_date.weekday()) 

def get_day(D):
    weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
    return weekdays[D] 

def is_food(inp):
    food_list = ['Vegeterian','Sushi','Sukiyaki/Shabu','Street Food/Food Stands','Steak House/Barbeque','Southern Food','Seafood','Ramen','Quick Meal','Pizza','Northern Food','Noodles','Mexican','Korean',
             'Japanese','Italian','Izakaya','Healthy Food','German Food','Fusion Food','French','Food Truck','Fastfood','Dim Sum','Delivery Only','Chinese','Cafe','Café/Coffee Shop','Buffet',
             'Breakfast/Brunch','Bakery/Cake','Barbeque/Grill','American']
    return inp in food_list

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

path = '/content/drive/My Drive/Final Exam'

Mounted at /content/drive

In [3]:
import os
import pandas

In [4]:
w_restaurant = os.path.join(path,'w_restaurant.csv')  #สร้างที่อยู่โดยใช้ os.path.join
search_click = os.path.join(path,'search_click.csv')
search_request = os.path.join(path,'search_request.csv')

In [5]:
w_restaurant = pandas.read_csv(w_restaurant)
w_restaurant.head()
#ใช้หัวตารางจาก w_restaurant คือ category_name

   Unnamed: 0  id              name  ...  hotel_restaurant  pet_friendly delivery
0           0   2  นครินทร์ทันตกรรม  ...               NaN           NaN      NaN
1           1   4      Corner House  ...               NaN           NaN      NaN
2           2   5    วัดโลกยสุธาราม  ...               NaN           NaN      NaN
3           3   6    นันท์คาราโอเกะ  ...               NaN           NaN      NaN
4           4   7       Buono Caffe  ...               NaN           NaN      NaN

[5 rows x 33 columns]

In [6]:
search_click = pandas.read_csv(search_click)
search_click.head()
#ใช้หัวตาราง search_click มี search_id business_id

   Unnamed: 0             click_timestamp  ...   time_diff_nanos   ads
0           0  2018-06-15 05:11:38.914154  ...  2222397704154000  True
1           1  2018-06-15 06:30:51.277476  ...   460838273476000  True
2           2  2018-06-15 06:32:09.558025  ...  2581491438025000  True
3           3  2018-06-15 06:00:59.820390  ...  1404578985390000  True
4           4  2018-06-15 05:23:36.828525  ...   933358625525000  True

[5 rows x 7 columns]

In [7]:
search_request = pandas.read_csv(search_request)
search_request.head() 
#ใช้หัวตาราง search_request คือ search_id search_timestamp	lat  long

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [35]:
w_restaurant_df = w_restaurant[['category_name']]

#เลือกเฉพาะหัวตารางที่ต้องการ คือ 'category_name'

In [36]:
w_restaurant_df.head()

         category_name
0          Orthodontic
1           Quick Meal
2  Historical/Religion
3              Karaoke
4     Café/Coffee Shop

In [37]:
w_restaurant_df.shape

(246847, 1)

In [38]:
w_restaurant_df.isnull().any()

#หาค่า missing

category_name    False
dtype: bool

In [19]:
search_click_df = search_click[['search_id','business_id']]

#เลือกเฉพาะหัวตารางที่ต้องการ คือ  'search_id','business_id'

In [32]:
search_click_df.head()

                              search_id  business_id
0  5c004472-5ecc-4159-9698-9f329b8e26e1     298839.0
1  5f34eca0-c04e-4c10-b600-54aa447dbd8e     171372.0
2  8dc6d1f0-11f1-4239-9dd2-5c1674c81224      16157.0
3  1a5810e9-3d1f-44b9-9a2e-26ede21c524b      89741.0
4  6bc75e0d-fc65-471e-9926-ff6be6708639     189564.0

In [20]:
search_click_df.shape

(7882037, 2)

In [33]:
search_click_df.isnull().any()

#หาค่า missing

search_id      True
business_id    True
dtype: bool

In [41]:
search_click_df_nm = search_click_df.dropna()

#ทำการแก้ค่า missing โดยการใช้ dropna เพื่อลบ missing นั้นออก

In [42]:
search_click_df_nm.isnull().any()

#เรียกดูเพื่อเช็คว่ายังมีค่า missing อีกไหม

search_id      False
business_id    False
dtype: bool

In [44]:
search_click_df_nm.shape

(7880121, 2)

In [23]:
search_request_df = search_request[['search_id','search_timestamp','lat','long']]

#เลือกเฉพาะหัวตารางที่ต้องการ คือ 'search_id','search_timestamp','lat','long'

In [39]:
search_request_df.head()

                              search_id  ...     long
0  683de889-f923-494e-9d46-44a3d67b7259  ...  101.463
1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  102.534
2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  100.371
3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  101.861
4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...    99.88

[5 rows x 4 columns]

In [22]:
search_request_df.shape

(10004357, 4)

In [40]:
search_request_df.isnull().any()

#หาค่า missing

search_id           False
search_timestamp    False
lat                  True
long                 True
dtype: bool

In [45]:
search_request_df_nm = search_request_df.dropna()

#ทำการแก้ค่า missing โดยการใช้ dropna เพื่อลบ missing นั้นออก

In [46]:
search_request_df_nm.isnull().any()

#เรียกดูเพื่อเช็คว่ายังมีค่า missing อีกไหม

search_id           False
search_timestamp    False
lat                 False
long                False
dtype: bool

In [47]:
search_request_df_nm.shape

(7197711, 4)

In [88]:
table1= search_click_df_nm.merge(search_request_df_nm,how='left',left_on='search_id',right_on='search_id')
table1

                                    search_id  business_id  ...      lat     long
0        5c004472-5ecc-4159-9698-9f329b8e26e1     298839.0  ...      NaN      NaN
1        5f34eca0-c04e-4c10-b600-54aa447dbd8e     171372.0  ...      NaN      NaN
2        8dc6d1f0-11f1-4239-9dd2-5c1674c81224      16157.0  ...      NaN      NaN
3        1a5810e9-3d1f-44b9-9a2e-26ede21c524b      89741.0  ...      NaN      NaN
4        6bc75e0d-fc65-471e-9926-ff6be6708639     189564.0  ...      NaN      NaN
...                                       ...          ...  ...      ...      ...
7880116  9ecd2dc1-b6f6-486d-b751-33eb16c53951      16614.0  ...   13.758   100.56
7880117  9ecd2dc1-b6f6-486d-b751-33eb16c53951      16614.0  ...   13.758   100.56
7880118  d086453d-7fde-4766-af39-8205f0f0a4aa      19569.0  ...  12.9324  100.885
7880119  d157eba1-15e6-4f7a-b090-27a311d976a0     227719.0  ...  13.6908  101.083
7880120  fb09595c-26cf-4bf3-a51b-1a9b4dd2fe50     316442.0  ...  13.7797  100.562

[7880121 rows x 5 columns]

In [89]:
table1 = table1.dropna()

#ทำการแก้ค่า missing โดยการใช้ dropna เพื่อลบ missing นั้นออก

In [90]:
table1.head()

                               search_id  business_id  ...      lat     long
34  ac28033e-5236-4070-a2ab-92ffb6c9bad3     108813.0  ...  13.7945  100.613
35  5f84bca7-bdac-4ce9-83e6-a5eaa02d4980     142707.0  ...  13.8128  100.443
36  47748c4e-0761-476c-8232-4f8b1d1ddfdc     140897.0  ...  13.7318  100.569
37  ac28033e-5236-4070-a2ab-92ffb6c9bad3     108813.0  ...  13.7945  100.613
38  7cea7158-6649-4964-998a-9cc15c299abd     322017.0  ...  16.4368   102.83

[5 rows x 5 columns]

In [91]:
table1.shape

(2549987, 5)

In [92]:
table2= pandas.concat([table1,w_restaurant_df])
table2

                                   search_id  ...         category_name
34      ac28033e-5236-4070-a2ab-92ffb6c9bad3  ...                   NaN
35      5f84bca7-bdac-4ce9-83e6-a5eaa02d4980  ...                   NaN
36      47748c4e-0761-476c-8232-4f8b1d1ddfdc  ...                   NaN
37      ac28033e-5236-4070-a2ab-92ffb6c9bad3  ...                   NaN
38      7cea7158-6649-4964-998a-9cc15c299abd  ...                   NaN
...                                      ...  ...                   ...
246842                                   NaN  ...                 Sushi
246843                                   NaN  ...               Karaoke
246844                                   NaN  ...  Steak House/Barbeque
246845                                   NaN  ...      Café/Coffee Shop
246846                                   NaN  ...               Noodles

[2796834 rows x 6 columns]

In [98]:
table2.isnull().any()

search_id           False
business_id         False
search_timestamp    False
lat                 False
long                False
category_name       False
dtype: bool

In [99]:
 food_list = ['Vegeterian','Sushi','Sukiyaki/Shabu','Street Food/Food Stands','Steak House/Barbeque','Southern Food','Seafood','Ramen','Quick Meal','Pizza','Northern Food','Noodles','Mexican','Korean',
             'Japanese','Italian','Izakaya','Healthy Food','German Food','Fusion Food','French','Food Truck','Fastfood','Dim Sum','Delivery Only','Chinese','Cafe','Café/Coffee Shop','Buffet',
             'Breakfast/Brunch','Bakery/Cake','Barbeque/Grill','American']

In [101]:
for is_food in food_list : 
     print(is_food)

Vegeterian
Sushi
Sukiyaki/Shabu
Street Food/Food Stands
Steak House/Barbeque
Southern Food
Seafood
Ramen
Quick Meal
Pizza
Northern Food
Noodles
Mexican
Korean
Japanese
Italian
Izakaya
Healthy Food
German Food
Fusion Food
French
Food Truck
Fastfood
Dim Sum
Delivery Only
Chinese
Cafe
Café/Coffee Shop
Buffet
Breakfast/Brunch
Bakery/Cake
Barbeque/Grill
American

#Cassification แบบ KNN  เพื่อหาว่า search เป็นร้านอาหารหรือไม่
 
โดยมีขั้นตอนดังนี้ 
1. Import ข้อมูลที่ต้องการใช้


2. Define นิยามให้ตัว modle หน้าตาเป็นยังไง คือ k เป็นเท่าไหร่ โหวตยังไง วัดระยะอย่างไร  


3. Train(fit) สร้าง modle โดย input ตัวแปรเข้ามา 2ตัว คือ X และ y


4. Test วัดผลว่ามันดีแค่ไหน 
โดยในการ test จะใช้ .predict_proba เป็นการคำนวณความน่าจะเป็นว่าจะอยู่กลุ่มไหน แทนที่จะทำนายชัดลงไปเลยว่าอยู่กลุ่มไหน

5. Evaluate 

    การเลือกโมเดลที่ดีที่สุดที่แท้จริง

    1.แบ่งข้อมูลเป็น train กับ test และเก็บ test เอาไว้
    2.ทำ k-fold cross validation เพื่อเลือกโมเดลที่ดีที่สุด
    3.Train model ที่ดีที่สุด ด้วย training set แล้ววัดผลด้วย test set 

    ถ้าผลมีค่าใกล้เคียง 1 มากแสดงว่า seach เป็นร้านอาหารจริง

2. จากข้อมูล (```reduced_marketbasket.csv```) ใน http://qr.tebs.io/TTGDFf ให้เปรียบเทียบ รูปแบบ การซื้อที่น่าสนใจเป็นราย Transaction ของประชากรใน ประเทศ ```United Kingdom``` กับ ประเทศอื่นๆ (```'Country'!='United Kingdom'```)

(80 คะแนน)

In [72]:
import os 
import pandas as pd
 
reduced_marketbasket = os.path.join(path,'reduced_marketbasket.csv')  #สร้างที่อยู่โดยใช้ os.path.join

In [74]:
data_Country = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin1')
data_Country.head() 

#ถ้า import ปกติโค้ดจะ error ของ csv เพราะใน data เรายังเป็นตัวอักษรแปลกๆ มันจึงบอกให้ใส่ encoding แล้วเลือกใส่ latin1 ฯลฯ

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [77]:
#จากตาราง data_Country เราจะ .groupby ประเทศ ('Country')

data_Country_Quantity = data_Country.groupby('Country').sum().sort_values('Quantity',ascending=False)
data_Country_Quantity

                      Quantity     UnitPrice    CustomerID
Country
United Kingdom         4263829  2.245715e+06  5.626433e+09
Netherlands             200128  6.492550e+03  3.419054e+07
EIRE                    142637  4.844719e+04  1.103917e+08
Germany                 117448  3.766600e+04  1.200751e+08
France                  110480  4.303199e+04  1.076489e+08
Australia                83653  4.054750e+03  1.569300e+07
Sweden                   35637  1.806830e+03  6.790083e+06
Switzerland              30325  6.813690e+03  2.377592e+07
Spain                    26824  1.263345e+04  3.268929e+07
Japan                    25218  8.148600e+02  4.567292e+06
Belgium                  23152  7.540130e+03  2.571829e+07
Norway                   19247  6.529060e+03  1.350765e+07
Portugal                 16180  1.303754e+04  1.886480e+07
Finland                  10666  3.786850e+03  8.699324e+06
Channel Islands           9479  3.738550e+03  1.128522e+07
Denmark                   8188  1.266950e+03  4.876734e+06
Italy                     7999  3.879390e+03  1.015666e+07
Cyprus                    6317  3.920070e+03  7.715880e+06
Singapore                 5234  2.510889e+04  2.918376e+06
Austria                   4827  1.701520e+03  5.021102e+06
Hong Kong                 4769  1.224150e+04  0.000000e+00
Israel                    4353  1.079040e+03  3.164467e+06
Poland                    3653  1.422270e+03  4.341972e+06
Unspecified               3300  1.204010e+03  3.348046e+06
Canada                    2763  9.105800e+02  2.615483e+06
Iceland                   2458  4.812100e+02  2.247154e+06
Greece                    1556  7.132900e+02  2.008584e+06
USA                       1034  6.449800e+02  3.672086e+06
United Arab Emirates       982  2.298900e+02  1.018952e+06
Malta                      944  6.660100e+02  2.158496e+06
Lithuania                  652  9.944000e+01  5.366200e+05
Czech Republic             592  8.815000e+01  3.834300e+05
European Community         497  2.940500e+02  9.215880e+05
Lebanon                    386  2.424400e+02  5.743800e+05
Brazil                     356  1.426000e+02  4.086080e+05
RSA                        352  2.481000e+02  7.218680e+05
Bahrain                    260  8.657000e+01  2.100270e+05
Saudi Arabia                75  2.411000e+01  1.256500e+05

In [78]:
transacs = data_Country.groupby('InvoiceNo')['StockCode'].apply(list)
transacs 
#ตัว c ใน InvoiceNo คือการลบสินค้าออกไป

InvoiceNo
536365     [85123A, 71053, 84406B, 84029G, 84029E, 22752,...
536366                                        [22633, 22632]
536367     [84879, 22745, 22748, 22749, 22310, 84969, 226...
536368                          [22960, 22913, 22912, 22914]
536369                                               [21756]
                                 ...
C581484                                              [23843]
C581490                                       [22178, 23144]
C581499                                                  [M]
C581568                                              [21258]
C581569                                       [84978, 20979]
Name: StockCode, Length: 25900, dtype: object

In [79]:
!pip install apyori
# ทำการติดตั้งแพ็คเกจ apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=44d6469233d6906cb799dd3d73062bdffdd3166a0f548269bdd7c3343b1f3366
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [80]:
from apyori import apriori

In [81]:
list(apriori(transacs,min_support = 0.02, min_cofidence = 0.1))
# min_support = 0.02 คือ กำหนดให้เท่า 0.02 แปลว่า ทุกกฎที่โผล่มา transacs เกิดขึ้นซ้ำๆประมาณ 500 คือ 0.02 คูณกับ Row 25900
# min_cofidence = 0.1 คือ เอา sup มาหารด้วย sup แต่ละอัน

[RelationRecord(items=frozenset({'15036'}), support=0.020193050193050194, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'15036'}), confidence=0.020193050193050194, lift=1.0)]),
 RelationRecord(items=frozenset({'20685'}), support=0.027181467181467182, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20685'}), confidence=0.027181467181467182, lift=1.0)]),
 RelationRecord(items=frozenset({'20711'}), support=0.02054054054054054, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20711'}), confidence=0.02054054054054054, lift=1.0)]),
 RelationRecord(items=frozenset({'20712'}), support=0.033667953667953665, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20712'}), confidence=0.033667953667953665, lift=1.0)]),
 RelationRecord(items=frozenset({'20713'}), support=0.02602316602316602, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20713'}), confidence=0.02602316602316602, lift=1.0)]),
 RelationRecord(items=frozenset({'20718'}), support=0.022393822393822392, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20718'}), confidence=0.022393822393822392, lift=1.0)]),
 RelationRecord(items=frozenset({'20719'}), support=0.03254826254826255, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20719'}), confidence=0.03254826254826255, lift=1.0)]),
 RelationRecord(items=frozenset({'20723'}), support=0.02833976833976834, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20723'}), confidence=0.02833976833976834, lift=1.0)]),
 RelationRecord(items=frozenset({'20724'}), support=0.04054054054054054, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20724'}), confidence=0.04054054054054054, lift=1.0)]),
 RelationRecord(items=frozenset({'20725'}), support=0.062084942084942085, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20725'}), confidence=0.062084942084942085, lift=1.0)]),
 RelationRecord(items=frozenset({'20726'}), support=0.04003861003861004, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20726'}), confidence=0.04003861003861004, lift=1.0)]),
 RelationRecord(items=frozenset({'20727'}), support=0.05, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20727'}), confidence=0.05, lift=1.0)]),
 RelationRecord(items=frozenset({'20728'}), support=0.04528957528957529, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20728'}), confidence=0.04528957528957529, lift=1.0)]),
 RelationRecord(items=frozenset({'20914'}), support=0.03528957528957529, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20914'}), confidence=0.03528957528957529, lift=1.0)]),
 RelationRecord(items=frozenset({'20971'}), support=0.020308880308880308, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20971'}), confidence=0.020308880308880308, lift=1.0)]),
 RelationRecord(items=frozenset({'20972'}), support=0.02386100386100386, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20972'}), confidence=0.02386100386100386, lift=1.0)]),
 RelationRecord(items=frozenset({'21034'}), support=0.033745173745173745, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21034'}), confidence=0.033745173745173745, lift=1.0)]),
 RelationRecord(items=frozenset({'21080'}), support=0.03814671814671815, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21080'}), confidence=0.03814671814671815, lift=1.0)]),
 RelationRecord(items=frozenset({'21094'}), support=0.02034749034749035, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21094'}), confidence=0.02034749034749035, lift=1.0)]),
 RelationRecord(items=frozenset({'21166'}), support=0.02837837837837838, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21166'}), confidence=0.02837837837837838, lift=1.0)]),
 RelationRecord(items=frozenset({'21174'}), support=0.020888030888030887, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21174'}), confidence=0.020888030888030887, lift=1.0)]),
 RelationRecord(items=frozenset({'21175'}), support=0.031544401544401544, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21175'}), confidence=0.031544401544401544, lift=1.0)]),
 RelationRecord(items=frozenset({'21181'}), support=0.033281853281853284, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21181'}), confidence=0.033281853281853284, lift=1.0)]),
 RelationRecord(items=frozenset({'21212'}), support=0.05150579150579151, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21212'}), confidence=0.05150579150579151, lift=1.0)]),
 RelationRecord(items=frozenset({'21213'}), support=0.025637065637065637, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21213'}), confidence=0.025637065637065637, lift=1.0)]),
 RelationRecord(items=frozenset({'21231'}), support=0.020694980694980696, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21231'}), confidence=0.020694980694980696, lift=1.0)]),
 RelationRecord(items=frozenset({'21232'}), support=0.03428571428571429, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21232'}), confidence=0.03428571428571429, lift=1.0)]),
 RelationRecord(items=frozenset({'21314'}), support=0.022432432432432432, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21314'}), confidence=0.022432432432432432, lift=1.0)]),
 RelationRecord(items=frozenset({'21485'}), support=0.024362934362934362, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21485'}), confidence=0.024362934362934362, lift=1.0)]),
 RelationRecord(items=frozenset({'21559'}), support=0.022586872586872586, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21559'}), confidence=0.022586872586872586, lift=1.0)]),
 RelationRecord(items=frozenset({'21731'}), support=0.033243243243243244, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21731'}), confidence=0.033243243243243244, lift=1.0)]),
 RelationRecord(items=frozenset({'21733'}), support=0.029111969111969112, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21733'}), confidence=0.029111969111969112, lift=1.0)]),
 RelationRecord(items=frozenset({'21754'}), support=0.030386100386100387, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21754'}), confidence=0.030386100386100387, lift=1.0)]),
 RelationRecord(items=frozenset({'21755'}), support=0.024362934362934362, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21755'}), confidence=0.024362934362934362, lift=1.0)]),
 RelationRecord(items=frozenset({'21790'}), support=0.035868725868725866, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21790'}), confidence=0.035868725868725866, lift=1.0)]),
 RelationRecord(items=frozenset({'21791'}), support=0.02359073359073359, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21791'}), confidence=0.02359073359073359, lift=1.0)]),
 RelationRecord(items=frozenset({'21843'}), support=0.022471042471042472, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21843'}), confidence=0.022471042471042472, lift=1.0)]),
 RelationRecord(items=frozenset({'21889'}), support=0.02277992277992278, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21889'}), confidence=0.02277992277992278, lift=1.0)]),
 RelationRecord(items=frozenset({'21914'}), support=0.02335907335907336, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21914'}), confidence=0.02335907335907336, lift=1.0)]),
 RelationRecord(items=frozenset({'21915'}), support=0.025907335907335908, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21915'}), confidence=0.025907335907335908, lift=1.0)]),
 RelationRecord(items=frozenset({'21928'}), support=0.031505791505791504, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21928'}), confidence=0.031505791505791504, lift=1.0)]),
 RelationRecord(items=frozenset({'21929'}), support=0.03386100386100386, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21929'}), confidence=0.03386100386100386, lift=1.0)]),
 RelationRecord(items=frozenset({'21930'}), support=0.027335907335907336, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21930'}), confidence=0.027335907335907336, lift=1.0)]),
 RelationRecord(items=frozenset({'21931'}), support=0.04637065637065637, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21931'}), confidence=0.04637065637065637, lift=1.0)]),
 RelationRecord(items=frozenset({'21935'}), support=0.020501930501930502, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21935'}), confidence=0.020501930501930502, lift=1.0)]),
 RelationRecord(items=frozenset({'21936'}), support=0.020965250965250964, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21936'}), confidence=0.020965250965250964, lift=1.0)]),
 RelationRecord(items=frozenset({'21975'}), support=0.023320463320463322, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21975'}), confidence=0.023320463320463322, lift=1.0)]),
 RelationRecord(items=frozenset({'21977'}), support=0.033783783783783786, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'21977'}), confidence=0.033783783783783786, lift=1.0)]),
 RelationRecord(items=frozenset({'22029'}), support=0.020386100386100385, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22029'}), confidence=0.020386100386100385, lift=1.0)]),
 RelationRecord(items=frozenset({'22077'}), support=0.037104247104247104, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22077'}), confidence=0.037104247104247104, lift=1.0)]),
 RelationRecord(items=frozenset({'22083'}), support=0.023745173745173744, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22083'}), confidence=0.023745173745173744, lift=1.0)]),
 RelationRecord(items=frozenset({'22086'}), support=0.04517374517374517, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22086'}), confidence=0.04517374517374517, lift=1.0)]),
 RelationRecord(items=frozenset({'22090'}), support=0.03111969111969112, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22090'}), confidence=0.03111969111969112, lift=1.0)]),
 RelationRecord(items=frozenset({'22111'}), support=0.03003861003861004, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22111'}), confidence=0.03003861003861004, lift=1.0)]),
 RelationRecord(items=frozenset({'22112'}), support=0.03343629343629344, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22112'}), confidence=0.03343629343629344, lift=1.0)]),
 RelationRecord(items=frozenset({'22113'}), support=0.021814671814671813, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22113'}), confidence=0.021814671814671813, lift=1.0)]),
 RelationRecord(items=frozenset({'22114'}), support=0.025173745173745175, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22114'}), confidence=0.025173745173745175, lift=1.0)]),
 RelationRecord(items=frozenset({'22138'}), support=0.037104247104247104, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22138'}), confidence=0.037104247104247104, lift=1.0)]),
 RelationRecord(items=frozenset({'22139'}), support=0.037953667953667954, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22139'}), confidence=0.037953667953667954, lift=1.0)]),
 RelationRecord(items=frozenset({'22144'}), support=0.02111969111969112, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22144'}), confidence=0.02111969111969112, lift=1.0)]),
 RelationRecord(items=frozenset({'22149'}), support=0.021621621621621623, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22149'}), confidence=0.021621621621621623, lift=1.0)]),
 RelationRecord(items=frozenset({'22178'}), support=0.041003861003861004, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22178'}), confidence=0.041003861003861004, lift=1.0)]),
 RelationRecord(items=frozenset({'22189'}), support=0.020424710424710425, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22189'}), confidence=0.020424710424710425, lift=1.0)]),
 RelationRecord(items=frozenset({'22197'}), support=0.055675675675675676, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22197'}), confidence=0.055675675675675676, lift=1.0)]),
 RelationRecord(items=frozenset({'22219'}), support=0.021158301158301158, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22219'}), confidence=0.021158301158301158, lift=1.0)]),
 RelationRecord(items=frozenset({'22326'}), support=0.02891891891891892, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22326'}), confidence=0.02891891891891892, lift=1.0)]),
 RelationRecord(items=frozenset({'22328'}), support=0.02305019305019305, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22328'}), confidence=0.02305019305019305, lift=1.0)]),
 RelationRecord(items=frozenset({'22355'}), support=0.034555984555984555, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22355'}), confidence=0.034555984555984555, lift=1.0)]),
 RelationRecord(items=frozenset({'22356'}), support=0.029343629343629343, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22356'}), confidence=0.029343629343629343, lift=1.0)]),
 RelationRecord(items=frozenset({'22367'}), support=0.021737451737451736, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22367'}), confidence=0.021737451737451736, lift=1.0)]),
 RelationRecord(items=frozenset({'22379'}), support=0.029073359073359072, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22379'}), confidence=0.029073359073359072, lift=1.0)]),
 RelationRecord(items=frozenset({'22382'}), support=0.04517374517374517, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22382'}), confidence=0.04517374517374517, lift=1.0)]),
 RelationRecord(items=frozenset({'22383'}), support=0.050424710424710424, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22383'}), confidence=0.050424710424710424, lift=1.0)]),
 RelationRecord(items=frozenset({'22384'}), support=0.04285714285714286, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22384'}), confidence=0.04285714285714286, lift=1.0)]),
 RelationRecord(items=frozenset({'22385'}), support=0.026718146718146717, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22385'}), confidence=0.026718146718146717, lift=1.0)]),
 RelationRecord(items=frozenset({'22386'}), support=0.04752895752895753, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22386'}), confidence=0.04752895752895753, lift=1.0)]),
 RelationRecord(items=frozenset({'22411'}), support=0.04583011583011583, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22411'}), confidence=0.04583011583011583, lift=1.0)]),
 RelationRecord(items=frozenset({'22417'}), support=0.020154440154440154, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22417'}), confidence=0.020154440154440154, lift=1.0)]),
 RelationRecord(items=frozenset({'22423'}), support=0.08386100386100385, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22423'}), confidence=0.08386100386100385, lift=1.0)]),
 RelationRecord(items=frozenset({'22427'}), support=0.020193050193050194, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22427'}), confidence=0.020193050193050194, lift=1.0)]),
 RelationRecord(items=frozenset({'22457'}), support=0.04888030888030888, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22457'}), confidence=0.04888030888030888, lift=1.0)]),
 RelationRecord(items=frozenset({'22467'}), support=0.027567567567567567, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22467'}), confidence=0.027567567567567567, lift=1.0)]),
 RelationRecord(items=frozenset({'22469'}), support=0.04687258687258687, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22469'}), confidence=0.04687258687258687, lift=1.0)]),
 RelationRecord(items=frozenset({'22470'}), support=0.03644787644787645, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22470'}), confidence=0.03644787644787645, lift=1.0)]),
 RelationRecord(items=frozenset({'22551'}), support=0.026293436293436293, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22551'}), confidence=0.026293436293436293, lift=1.0)]),
 RelationRecord(items=frozenset({'22553'}), support=0.02193050193050193, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22553'}), confidence=0.02193050193050193, lift=1.0)]),
 RelationRecord(items=frozenset({'22554'}), support=0.027374517374517373, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22554'}), confidence=0.027374517374517373, lift=1.0)]),
 RelationRecord(items=frozenset({'22555'}), support=0.020038610038610037, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22555'}), confidence=0.020038610038610037, lift=1.0)]),
 RelationRecord(items=frozenset({'22556'}), support=0.022432432432432432, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22556'}), confidence=0.022432432432432432, lift=1.0)]),
 RelationRecord(items=frozenset({'22557'}), support=0.022007722007722007, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22557'}), confidence=0.022007722007722007, lift=1.0)]),
 RelationRecord(items=frozenset({'22558'}), support=0.030231660231660233, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22558'}), confidence=0.030231660231660233, lift=1.0)]),
 RelationRecord(items=frozenset({'22577'}), support=0.020888030888030887, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22577'}), confidence=0.020888030888030887, lift=1.0)]),
 RelationRecord(items=frozenset({'22621'}), support=0.023667953667953667, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22621'}), confidence=0.023667953667953667, lift=1.0)]),
 RelationRecord(items=frozenset({'22624'}), support=0.027953667953667955, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22624'}), confidence=0.027953667953667955, lift=1.0)]),

3. เขียนคำศัพท์ที่ได้เรียนในวิชาพร้อมทั้งคำนิยามที่เป็นคำพูดของนักศึกษาเอง (ห้าม search google) 20 คำ

(คำละ 0.5 คะแนน)

1. import os : เพื่อเรียกใช้การทำงานที่เกี่ยวกับไฟล์ทั้งหมด
2. path : สร้างตัวแปรเป็นที่อยู่ของไฟล์นั้นๆ
3. listdir : คือจะแสดงไฟล์ทั้งหมดตามที่อยู่ที่เราต้องการแสดง
4. pyplot : เป็นแพ็กเกจที่เอาไว้ใช้พล็อตกราฟ คำสั่งแรก คือ scatter โดยเอาแต่ละจุดไปพล็อตที่กราฟ x และ y
5. .describe() :  คือสถิติที่ใช้อธิบาย เป็นคำสั่งที่ใช้คำนวณค่ากลาง ค่าการกระจายของตาราง
6. Variable : เป็นสร้างตัวแปรให้เป็น อักษรตัวใดตัวหนึ่ง แล้วกำหนดให้เท่ากับค่าใดค่าหนึ่ง โดยใช้ = 
7. list :  คือ set ของตัวแปรหรือกลุ่มของตัวแปร ลำดับของตัวแปรในข้อมูลที่มีความสำคัญ โดยสามารถเพิ่มสมาชิกในlist ด้วย [...]
8. len : ความยาวของlist ว่ามีสมาชิกกี่ตัว
9. .append : เป็นการเพิ่มสมาชิกเข้าไปใน list ว่าง 
10. .split() : เป็นการแยกตัวสมาชิกออกจาก str โดยการตัดด้วยช่องว่าง คือการเอาช่องว่างมาแยก
11. range : คือการสร้าง list ที่ไล่ตั้งแต่ 0 ถึงเลขก่อนหน้า
คำสั่งที่ช่วยไม่ให้เราเขียน list ยาว คือ range : สร้าง list ขึ้นมาใหม่
12. If statement เงื่อนไข (<, >, <=, >=, ==, !=) : คือถ้าเงื่อนไขตรงถึงจะแสดงผลลัพธ์ออกมา ถ้าไม่ตรงก็จะไม่แสดงออกมา
13. else : เป็นอีกตัวที่บอกว่าถ้าไม่แสดงอย่างแรก ก็จะให้แสดงอย่างที่สอง
14. Funtion() : คือการทำงานที่แปลงค่าข้อมูล input แล้ว output ออกมา เป็นการเก็บโค๊ดที่เขียนไปแล้วเก็บไว้ใน function เพื่อใช้เรียกมาใหม่
15. .merge() : เป็นการรวม 2 ตารางเข้าด้วยกัน merge two tables(.merge()) ถ้าเรามี 1 ตารางแล้วต้องการนำตารางอื่นมาต่อท้ายจะใช้คำสั่งนี้ โดยมีชื่อตารางหลักมีkeyอะไร ตารางรองเชื่อมด้วยkey 
16. .zeros : คือสร้าง array ที่ทุกค่าเป็น 0
17. .shape : คือบอกจำนวนแถวและหลัก ของ เมตริกซ์
18. del : ใช้ลบค่าใน dict ที่ต้องการออก
19. .from_dict : เรียกใช้เพื่อสร้างตาราง
20. .iloc : มองตารางจาก pandas ให้เป็น Numpy คือ มีแถวและหลัก