<a href="https://colab.research.google.com/github/Kggzzz/KKU_data_mining/blob/master/Project_Animal_feed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ดูความสัมพันธ์ปริมาณการส่งออกอาหารสัตว์เป็นจำนวนมาก ก็จะทำปริมาณนำเข้าอาหารสัตว์ที่เป็นวัตถุดิบในการทำอาหารสัตว์มากขึ้นเช่นกันเยอะ ความสัมพันธ์ที่ได้จากกระบวนการนี้สามารถนำไปใช้คาดเดาได้ว่าควรนำเข้าอาหารสัตว์และส่งออกอาหารสัตว์เพิ่มขึ้นให้กับแต่ละประเทศ ในปีค.ศ. 2015

In [1]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
path = '/content/drive/My Drive/Project_Mining'

In [3]:
import os
import pandas

In [21]:
Import= os.path.join(path,'Im_animal_feed_tun.csv')  #สร้างที่อยู่โดยใช้ os.path.join
Export= os.path.join(path,'Ex_animal_feed_tun.csv')

In [22]:
Import_df = pandas.read_csv(Import)
Import_df.head()

   Country   ... Import other animal feed
0    U.S.A.  ...                11,292.58
1    Brazil  ...                12,945.06
2     China  ...                10,521.66
3    France  ...                 1,690.43
4   Belgium  ...                 3,093.18

[5 rows x 6 columns]

ชื่อหัวคอลั่ม Import การนำเข้า

Country = ประเทศที่นำเข้า

Import of main raw materials = นำเข้าวัตถุดิบหลัก

Import the mixed = นำเข้าวัตถุที่ผสมแล้ว

Imported dairy products = นำเข้าผลิตภัณฑ์นม

Import of pet supplement = นำเข้าอาหารเสริมสำหรับสัตว์

Import other animal feed = นำเข้าวัตถุดิบอื่นๆ

In [23]:
Export_df = pandas.read_csv(Export) 
Export_df.head()

    Country  ...  Export of aquatic animal feed
0    U.S.A.  ...                        28.8402
1     Japan  ...                         0.6375
2     China  ...                        17.9430
3  Malaysia  ...                         0.9100
4     Italy  ...                         0.0000

[5 rows x 9 columns]

ชื่อหัวคอลั่ม Export การส่งออก

Country = ประเทศที่ส่งออก

Export of fish meal = ส่งออกปลาป่น 

Export of dog and cat food = ส่งออกอาหารสุนัขและแมว

Export other animal feed = ส่งออกอาหารใช้เลี้ยงสัตว์อื่น ๆ 

Export of pet supplement = ส่งออกอาหารเสริมสัตว์เลี้ยง

Export premix = ส่งออกพรีมิกซ์

Export of canned food for dogs and cats = ส่งออกอาหารกระป๋องสุนัขและแมว

Export Dog Chews = ส่งออก Dog Chews 

Export of aquatic animal feed = ส่งออกอาหารสัตว์น้ำ

In [24]:
Import_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(36, 6)

In [25]:
Export_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(36, 9)

#Missing Values ค่าผิดปกติ เช็คดูว่าตารางเรามี missing

In [26]:
Import_df.isnull().any()

 Country                        False
Import of main raw materials    False
Import the mixed                False
Imported dairy products         False
Import of pet supplement        False
Import other animal feed        False
dtype: bool

In [35]:
Export_df.isnull().any()

Country                                    False
Export of fish meal                        False
Export of dog and cat food                 False
Export other animal feed                   False
Export of pet supplement                   False
Export premix                              False
Export of canned food for dogs and cats    False
Export Dog Chews                           False
Export of aquatic animal feed              False
dtype: bool

## กำหนดค่าในตาราง 

โดยค่าที่กำหนดคือ สินค้าที่นำเข้าและส่งออกในประเทศต่างๆ 

1. ถ้ามีค่าตั้งแต่ 100 ตันขึ้นไปจะให้เป็น ' 1 ' คือมีการนำเข้าและส่งออก อาหารสัตว์

2. ถ้ามีค่าตั้งแต่ 0 ถึง 99 ตันจะให้เป็น ' 0 '  คือไม่มีการนำเข้าและส่งออกอาหารสัตว์

แก้ไขตาราง Import โดยใช้คำสั่ง if else