<a href="https://colab.research.google.com/github/Kggzzz/KKU_data_mining/blob/master/Project_AnimalFeed_real.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#เริ่มแรกมีการหาข้อมูลจาก เว็ปไซส์ data.go.th

###ทำให้เราได้ข้อมูล การนำเข้าอาหารสัตว์ และ การส่งออกอาหารสัตว์ ในปี 2015 มา

ข้อมูลการนำเข้าอาหารสัตว์ : https://data.go.th/dataset/item_de26c80b-0571-4721-8a82-aeed70919906

ข้อมูลการส่งออกอาหารสัตว์ : https://data.go.th/dataset/item_94a0b576-c3ee-45ec-8de6-d07b55921571

##วัตถุประสงค์ *แก้ด้วย

ดูความสัมพันธ์ปริมาณการส่งออกอาหารสัตว์เป็นจำนวนมาก ก็จะทำปริมาณนำเข้าอาหารสัตว์ที่เป็นวัตถุดิบในการทำอาหารสัตว์มากขึ้นเช่นกันเยอะ ความสัมพันธ์ที่ได้จากกระบวนการนี้สามารถนำไปใช้คาดเดาได้ว่าควรนำเข้าอาหารสัตว์และส่งออกอาหารสัตว์เพิ่มขึ้นให้กับแต่ละประเทศ ในปีค.ศ. 2015

In [1]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
path = '/content/drive/My Drive/Project_Mining'

In [3]:
import os
import pandas as pd

In [4]:
from pandas.api.types import CategoricalDtype

In [5]:
Import= os.path.join(path,'Import_nw4.csv')  #สร้างที่อยู่โดยใช้ os.path.join
Export= os.path.join(path,'Ex_animalfeed_tun3.csv')

In [6]:
Import_df = pd.read_csv(Import)
Import_df.head() #เรียกตารางมาดู

      Country  ...  Import_other_animal_feed
0   Australia  ...                   1414.14
1  Bangladesh  ...                     21.50
2     Belgium  ...                   3093.18
3      Brazil  ...                  12945.06
4    Cambodia  ...                     60.01

[5 rows x 6 columns]

ชื่อหัวคอลั่ม Import การนำเข้า

Country = ประเทศที่นำเข้า

Import_of_main_raw_materials = นำเข้าวัตถุดิบหลัก

Import_the_mixed = นำเข้าวัตถุที่ผสมแล้ว

Imported_dairy_products = นำเข้าผลิตภัณฑ์นม

Import_of_pet_supplement = นำเข้าอาหารเสริมสำหรับสัตว์

Import_other_animal_feed = นำเข้าวัตถุดิบอื่นๆ

In [7]:
Export_df = pd.read_csv(Export) 
Export_df.head() #เรียกตารางมาดู

    Country  Export_of_fishmeal  ...  Export_Dog_Chews  Export_of_aquatic_animalfeed
0    U.S.A.                 0.0  ...         124.50461                       28.8402
1     Japan              2245.0  ...         118.31314                        0.6375
2     China              7010.0  ...           0.00000                       17.9430
3  Malaysia                 0.0  ...          61.05034                        0.9100
4     Italy                 0.0  ...          17.83016                        0.0000

[5 rows x 9 columns]

ชื่อหัวคอลั่ม Export การส่งออก

Country = ประเทศที่ส่งออก

Export_of_fishmeal = ส่งออกปลาป่น

Export_of_dogcat_food = ส่งออกอาหารสุนัขและแมว

Export_other_animalfeed = ส่งออกอาหารใช้เลี้ยงสัตว์อื่น ๆ

Export_of_petsupplement = ส่งออกอาหารเสริมสัตว์เลี้ยง

Export_premix = ส่งออกพรีมิกซ์

Export_of_cannedfood_dogscats = ส่งออกอาหารกระป๋องสุนัขและแมว

Export_Dog_Chews = ส่งออก Dog Chews

Export_of_aquatic_animalfeed = ส่งออกอาหารสัตว์น้ำ

ลองเรียกคอลั่มแค่คอลั่มที่ต้องการเชื่อมตารางมาดู เพื่อเช็คว่าข้อมูลนั้นใช้งานได้หรือไม่

In [8]:
Import_df["Country"]

0          Australia
1         Bangladesh
2            Belgium
3             Brazil
4           Cambodia
5             Canada
6              China
7     Czech Republic
8            Denmark
9            Finland
10            France
11           Germany
12            Greece
13         Hong Kong
14           Hungary
15             India
16         Indonesia
17             Italy
18             Japan
19             Korea
20          Malaysia
21            Mexico
22       Netherlands
23       New Zealand
24       Philippines
25           Romania
26            Russia
27      Saudi Arabia
28         Singapore
29      South Africa
30             Spain
31            Sweden
32            Taiwan
33            Turkey
34            U.S.A.
35           Vietnam
Name: Country, dtype: object

In [9]:
Export_df["Country"]

0             U.S.A.
1              Japan
2              China
3           Malaysia
4              Italy
5          Australia
6              India
7            Vietnam
8             Taiwan
9         Bangladesh
10         Indonesia
11           Germany
12             Korea
13       Philippines
14             Spain
15         Hong Kong
16            Canada
17            France
18         Singapore
19       Netherlands
20            Brazil
21            Russia
22           Belgium
23       New Zealand
24            Greece
25            Sweden
26      Saudi Arabia
27      South Africa
28           Denmark
29           Finland
30           Hungary
31           Romania
32            Turkey
33            Mexico
34          Cambodia
35    Czech Republic
Name: Country, dtype: object

In [10]:
Import_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(36, 6)

In [11]:
Export_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(36, 9)

##Missing Values ค่าผิดปกติ เช็คดูว่าตารางเรามี missing

In [12]:
Import_df.isnull().any()

Country                         False
Import_of_main_raw_materials    False
Impor_the_mixed                 False
Imported_dairy_products         False
Import_of_pet_supplement        False
Import_other_animal_feed        False
dtype: bool

In [13]:
Export_df.isnull().any()

Country                          False
Export_of_fishmeal               False
Export_of_dogcat_food            False
Export_other_animalfeed          False
Export_of_petsupplement          False
Export_premix                    False
Export_of_cannedfood_dogscats    False
Export_Dog_Chews                 False
Export_of_aquatic_animalfeed     False
dtype: bool

##แก้ไขข้อมูลกำหนดค่าในตาราง เพื่อให้เข้อมูลในตารางนำไปใช้ในการ Assosiation ได้

โดยการเพิ่มคอลั่มใหม่ในตาราง Import_df และ Export_df คอลั่มที่สร้างใหม่นั้นจะตามหลังด้วย _group โดยการจัดกลุ่มให้ค่าทั้งหมดในแต่ละคอลั่ม ซึ่งจัดกลุ่มดังนี้

1. ถ้ามีค่าตั้งแต่ 10 ตันขึ้นไปจะให้เป็น ' Yes_ชื่อคอลั่มใหม่ที่จัดกลุ่ม ' คือมีการนำเข้าและส่งออก อาหารสัตว์

2. ถ้ามีค่าน้อยกว่า 10 ตันจะให้เป็น ' No_ชื่อคอลั่มใหม่ที่จัดกลุ่ม ' คือไม่มีการนำเข้าและส่งออกอาหารสัตว์

###เพิ่มคอลั่มใหม่ในตาราง Import_df

In [14]:
Import_df.columns

Index(['Country', 'Import_of_main_raw_materials', 'Impor_the_mixed',
       'Imported_dairy_products', 'Import_of_pet_supplement',
       'Import_other_animal_feed'],
      dtype='object')

In [15]:
Im_mains_bucket = ['No_Im_main','Yes_Im_main']
Import_df['Im_main_group'] = pd.cut(Import_df.Import_of_main_raw_materials,
                            bins=[0,10,10000000],
                            labels=Im_mains_bucket,
                            right=False).astype(str).astype(CategoricalDtype(Im_mains_bucket,ordered=True))

In [16]:
Im_mixed_bucket = ['No_Im_mixed','Yes_Im_mixed']
Import_df['Im_mixed_group'] = pd.cut(Import_df.Impor_the_mixed,
                            bins=[0,10,10000000],
                            labels=Im_mixed_bucket,
                            right=False).astype(str).astype(CategoricalDtype(Im_mixed_bucket,ordered=True))

In [17]:
Im_dairy_bucket = ['No_Im_dairy','Yes_Im_dairy']
Import_df['Im_dairy_group'] = pd.cut(Import_df.Imported_dairy_products,
                            bins=[0,10,10000000],
                            labels=Im_dairy_bucket,
                            right=False).astype(str).astype(CategoricalDtype(Im_dairy_bucket,ordered=True))

In [18]:
Im_petsup_bucket = ['No_Im_petsup','Yes_Im_petsup']
Import_df['Im_petsup_group'] = pd.cut(Import_df.Import_of_pet_supplement,
                            bins=[0,10,10000000],
                            labels=Im_petsup_bucket,
                            right=False).astype(str).astype(CategoricalDtype(Im_petsup_bucket,ordered=True))

In [19]:
Im_other_bucket = ['No_Im_other','Yes_Im_other']
Import_df['Im_other_group'] = pd.cut(Import_df.Import_other_animal_feed,
                            bins=[0,10,10000000],
                            labels=Im_other_bucket,
                            right=False).astype(str).astype(CategoricalDtype(Im_other_bucket,ordered=True))

In [20]:
Import_df

           Country  Import_of_main_raw_materials  ...  Im_petsup_group  Im_other_group
0        Australia                     100802.20  ...    Yes_Im_petsup    Yes_Im_other
1       Bangladesh                          0.00  ...     No_Im_petsup    Yes_Im_other
2          Belgium                      10414.65  ...    Yes_Im_petsup    Yes_Im_other
3           Brazil                    1644961.05  ...    Yes_Im_petsup    Yes_Im_other
4         Cambodia                          0.00  ...     No_Im_petsup    Yes_Im_other
5           Canada                     293925.00  ...    Yes_Im_petsup    Yes_Im_other
6            China                      20481.57  ...    Yes_Im_petsup    Yes_Im_other
7   Czech Republic                          0.00  ...    Yes_Im_petsup     No_Im_other
8          Denmark                      57116.60  ...    Yes_Im_petsup    Yes_Im_other
9          Finland                          0.00  ...    Yes_Im_petsup    Yes_Im_other
10          France                     577167.62  ...    Yes_Im_petsup    Yes_Im_other
11         Germany                     113726.78  ...    Yes_Im_petsup    Yes_Im_other
12          Greece                          0.00  ...    Yes_Im_petsup    Yes_Im_other
13       Hong Kong                          0.00  ...    Yes_Im_petsup    Yes_Im_other
14         Hungary                          0.00  ...    Yes_Im_petsup    Yes_Im_other
15           India                     127001.50  ...    Yes_Im_petsup    Yes_Im_other
16       Indonesia                     127217.24  ...    Yes_Im_petsup    Yes_Im_other
17           Italy                      37547.06  ...    Yes_Im_petsup    Yes_Im_other
18           Japan                       6770.00  ...    Yes_Im_petsup    Yes_Im_other
19           Korea                       3364.66  ...    Yes_Im_petsup    Yes_Im_other
20        Malaysia                          0.01  ...    Yes_Im_petsup    Yes_Im_other
21          Mexico                          0.00  ...    Yes_Im_petsup    Yes_Im_other
22     Netherlands                      63360.04  ...    Yes_Im_petsup    Yes_Im_other
23     New Zealand                       8297.26  ...     No_Im_petsup    Yes_Im_other
24     Philippines                          0.00  ...     No_Im_petsup    Yes_Im_other
25         Romania                      54507.88  ...     No_Im_petsup     No_Im_other
26          Russia                       5350.53  ...    Yes_Im_petsup    Yes_Im_other
27    Saudi Arabia                       1558.09  ...     No_Im_petsup     No_Im_other
28       Singapore                       5036.50  ...    Yes_Im_petsup    Yes_Im_other
29    South Africa                          0.00  ...     No_Im_petsup    Yes_Im_other
30           Spain                      31198.21  ...    Yes_Im_petsup    Yes_Im_other
31          Sweden                          0.00  ...    Yes_Im_petsup    Yes_Im_other
32          Taiwan                        480.00  ...    Yes_Im_petsup    Yes_Im_other
33          Turkey                      21100.72  ...    Yes_Im_petsup    Yes_Im_other
34          U.S.A.                    1408766.62  ...    Yes_Im_petsup    Yes_Im_other
35         Vietnam                      30742.60  ...    Yes_Im_petsup    Yes_Im_other

[36 rows x 11 columns]

###เพิ่มคอลั่มใหม่ในตาราง Export_df

In [21]:
Ex_fishmeal_bucket = ['No_Ex_fishmeal','Yes_Ex_fishmeal']
Export_df['Ex_fishmeal_group'] = pd.cut(Export_df.Export_of_fishmeal,
                            bins=[0,10,10000000],
                            labels=Ex_fishmeal_bucket,
                            right=False).astype(str).astype(CategoricalDtype(Ex_fishmeal_bucket,ordered=True))

In [22]:
Ex_dogcatfood_bucket = ['No_Ex_dogcatfood','Yes_Ex_dogcatfood']
Export_df['Ex_dogcatfood_group'] = pd.cut(Export_df.Export_of_dogcat_food	,
                            bins=[0,10,10000000],
                            labels=Ex_dogcatfood_bucket,
                            right=False).astype(str).astype(CategoricalDtype(Ex_dogcatfood_bucket,ordered=True))

In [23]:
Ex_other_bucket = ['No_Ex_other','Yes_Ex_other']
Export_df['Ex_otherfood_group'] = pd.cut(Export_df.Export_other_animalfeed	,
                            bins=[0,10,10000000],
                            labels=Ex_other_bucket,
                            right=False).astype(str).astype(CategoricalDtype(Ex_other_bucket,ordered=True))

In [24]:
Ex_petsup_bucket = ['No_Ex_petsup','Yes_Ex_petsup']
Export_df['Ex_petsup_group'] = pd.cut(Export_df.Export_of_petsupplement	,
                            bins=[0,10,10000000],
                            labels=Ex_petsup_bucket,
                            right=False).astype(str).astype(CategoricalDtype(Ex_petsup_bucket,ordered=True))

In [25]:
Ex_premix_bucket = ['No_Ex_premix','Yes_Ex_premix']
Export_df['Ex_premix_group'] = pd.cut(Export_df.Export_premix	,
                            bins=[0,10,10000000],
                            labels=Ex_premix_bucket,
                            right=False).astype(str).astype(CategoricalDtype(Ex_premix_bucket,ordered=True))

In [26]:
Ex_canfood_bucket = ['No_Ex_canfood','Yes_Ex_canfood']
Export_df['Ex_canfood_group'] = pd.cut(Export_df.Export_of_cannedfood_dogscats	,
                            bins=[0,10,10000000],
                            labels=Ex_canfood_bucket,
                            right=False).astype(str).astype(CategoricalDtype(Ex_canfood_bucket,ordered=True))

In [27]:
Ex_DogChews_bucket = ['No_Ex_DogChews','Yes_Ex_DogChews']
Export_df['Ex_DogChews_group'] = pd.cut(Export_df.Export_Dog_Chews	,
                            bins=[0,10,10000000],
                            labels=Ex_DogChews_bucket,
                            right=False).astype(str).astype(CategoricalDtype(Ex_DogChews_bucket,ordered=True))

In [28]:
Ex_aquatic_bucket = ['No_Ex_aquatic','Yes_Ex_aquatic']
Export_df['Ex_aquatic_group'] = pd.cut(Export_df.Export_of_aquatic_animalfeed	,
                            bins=[0,10,10000000],
                            labels=Ex_aquatic_bucket,
                            right=False).astype(str).astype(CategoricalDtype(Ex_aquatic_bucket,ordered=True))

In [29]:
Export_df

           Country  Export_of_fishmeal  ...  Ex_DogChews_group  Ex_aquatic_group
0           U.S.A.               0.000  ...    Yes_Ex_DogChews    Yes_Ex_aquatic
1            Japan            2245.000  ...    Yes_Ex_DogChews     No_Ex_aquatic
2            China            7010.000  ...     No_Ex_DogChews    Yes_Ex_aquatic
3         Malaysia               0.000  ...    Yes_Ex_DogChews     No_Ex_aquatic
4            Italy               0.000  ...    Yes_Ex_DogChews     No_Ex_aquatic
5        Australia               2.856  ...    Yes_Ex_DogChews     No_Ex_aquatic
6            India               0.000  ...     No_Ex_DogChews    Yes_Ex_aquatic
7          Vietnam            1840.000  ...     No_Ex_DogChews     No_Ex_aquatic
8           Taiwan             141.360  ...    Yes_Ex_DogChews     No_Ex_aquatic
9       Bangladesh            1260.000  ...     No_Ex_DogChews    Yes_Ex_aquatic
10       Indonesia             480.000  ...     No_Ex_DogChews    Yes_Ex_aquatic
11         Germany              20.000  ...    Yes_Ex_DogChews     No_Ex_aquatic
12           Korea             259.980  ...    Yes_Ex_DogChews     No_Ex_aquatic
13     Philippines               0.000  ...    Yes_Ex_DogChews     No_Ex_aquatic
14           Spain               0.000  ...    Yes_Ex_DogChews     No_Ex_aquatic
15       Hong Kong               0.000  ...     No_Ex_DogChews     No_Ex_aquatic
16          Canada               0.000  ...    Yes_Ex_DogChews     No_Ex_aquatic
17          France               0.000  ...    Yes_Ex_DogChews     No_Ex_aquatic
18       Singapore               0.000  ...    Yes_Ex_DogChews     No_Ex_aquatic
19     Netherlands               0.000  ...    Yes_Ex_DogChews     No_Ex_aquatic
20          Brazil               0.000  ...     No_Ex_DogChews    Yes_Ex_aquatic
21          Russia               0.000  ...     No_Ex_DogChews     No_Ex_aquatic
22         Belgium              20.000  ...    Yes_Ex_DogChews    Yes_Ex_aquatic
23     New Zealand               0.000  ...     No_Ex_DogChews     No_Ex_aquatic
24          Greece               0.000  ...     No_Ex_DogChews    Yes_Ex_aquatic
25          Sweden               0.000  ...     No_Ex_DogChews     No_Ex_aquatic
26    Saudi Arabia               0.000  ...     No_Ex_DogChews     No_Ex_aquatic
27    South Africa               0.000  ...    Yes_Ex_DogChews     No_Ex_aquatic
28         Denmark               0.000  ...    Yes_Ex_DogChews     No_Ex_aquatic
29         Finland               0.000  ...     No_Ex_DogChews     No_Ex_aquatic
30         Hungary              40.000  ...     No_Ex_DogChews     No_Ex_aquatic
31         Romania               0.000  ...     No_Ex_DogChews     No_Ex_aquatic
32          Turkey               0.000  ...     No_Ex_DogChews     No_Ex_aquatic
33          Mexico               0.000  ...     No_Ex_DogChews     No_Ex_aquatic
34        Cambodia               0.000  ...     No_Ex_DogChews     No_Ex_aquatic
35  Czech Republic               0.000  ...     No_Ex_DogChews     No_Ex_aquatic

[36 rows x 17 columns]

##ตัดตารางให้เหลือแต่กลุ่มของคอลั่มที่ต้องการใช้¶

In [30]:
Import_df.columns

Index(['Country', 'Import_of_main_raw_materials', 'Impor_the_mixed',
       'Imported_dairy_products', 'Import_of_pet_supplement',
       'Import_other_animal_feed', 'Im_main_group', 'Im_mixed_group',
       'Im_dairy_group', 'Im_petsup_group', 'Im_other_group'],
      dtype='object')

In [31]:
#สร้างตารางใหม่ชื่อ Import_df2 ให้เหลือแต่หัวคอลั่มที่ต้องการใช้
Import_df2 = Import_df[["Country","Im_main_group","Im_mixed_group","Im_dairy_group","Im_petsup_group","Im_other_group"]]
Import_df2

           Country Im_main_group  ... Im_petsup_group Im_other_group
0        Australia   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
1       Bangladesh    No_Im_main  ...    No_Im_petsup   Yes_Im_other
2          Belgium   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
3           Brazil   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
4         Cambodia    No_Im_main  ...    No_Im_petsup   Yes_Im_other
5           Canada   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
6            China   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
7   Czech Republic    No_Im_main  ...   Yes_Im_petsup    No_Im_other
8          Denmark   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
9          Finland    No_Im_main  ...   Yes_Im_petsup   Yes_Im_other
10          France   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
11         Germany   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
12          Greece    No_Im_main  ...   Yes_Im_petsup   Yes_Im_other
13       Hong Kong    No_Im_main  ...   Yes_Im_petsup   Yes_Im_other
14         Hungary    No_Im_main  ...   Yes_Im_petsup   Yes_Im_other
15           India   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
16       Indonesia   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
17           Italy   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
18           Japan   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
19           Korea   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
20        Malaysia    No_Im_main  ...   Yes_Im_petsup   Yes_Im_other
21          Mexico    No_Im_main  ...   Yes_Im_petsup   Yes_Im_other
22     Netherlands   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
23     New Zealand   Yes_Im_main  ...    No_Im_petsup   Yes_Im_other
24     Philippines    No_Im_main  ...    No_Im_petsup   Yes_Im_other
25         Romania   Yes_Im_main  ...    No_Im_petsup    No_Im_other
26          Russia   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
27    Saudi Arabia   Yes_Im_main  ...    No_Im_petsup    No_Im_other
28       Singapore   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
29    South Africa    No_Im_main  ...    No_Im_petsup   Yes_Im_other
30           Spain   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
31          Sweden    No_Im_main  ...   Yes_Im_petsup   Yes_Im_other
32          Taiwan   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
33          Turkey   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
34          U.S.A.   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other
35         Vietnam   Yes_Im_main  ...   Yes_Im_petsup   Yes_Im_other

[36 rows x 6 columns]

In [32]:
Export_df.columns

Index(['Country', 'Export_of_fishmeal', 'Export_of_dogcat_food',
       'Export_other_animalfeed', 'Export_of_petsupplement', 'Export_premix',
       'Export_of_cannedfood_dogscats', 'Export_Dog_Chews',
       'Export_of_aquatic_animalfeed', 'Ex_fishmeal_group',
       'Ex_dogcatfood_group', 'Ex_otherfood_group', 'Ex_petsup_group',
       'Ex_premix_group', 'Ex_canfood_group', 'Ex_DogChews_group',
       'Ex_aquatic_group'],
      dtype='object')

In [33]:
#สร้างตารางใหม่ชื่อ Export_df2 ให้เหลือแต่หัวคอลั่มที่ต้องการใช้
Export_df2 = Export_df[["Country","Ex_fishmeal_group","Ex_dogcatfood_group","Ex_otherfood_group","Ex_petsup_group","Ex_premix_group","Ex_canfood_group","Ex_DogChews_group","Ex_aquatic_group"]]
Export_df2

           Country Ex_fishmeal_group  ... Ex_DogChews_group Ex_aquatic_group
0           U.S.A.    No_Ex_fishmeal  ...   Yes_Ex_DogChews   Yes_Ex_aquatic
1            Japan   Yes_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
2            China   Yes_Ex_fishmeal  ...    No_Ex_DogChews   Yes_Ex_aquatic
3         Malaysia    No_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
4            Italy    No_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
5        Australia    No_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
6            India    No_Ex_fishmeal  ...    No_Ex_DogChews   Yes_Ex_aquatic
7          Vietnam   Yes_Ex_fishmeal  ...    No_Ex_DogChews    No_Ex_aquatic
8           Taiwan   Yes_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
9       Bangladesh   Yes_Ex_fishmeal  ...    No_Ex_DogChews   Yes_Ex_aquatic
10       Indonesia   Yes_Ex_fishmeal  ...    No_Ex_DogChews   Yes_Ex_aquatic
11         Germany   Yes_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
12           Korea   Yes_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
13     Philippines    No_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
14           Spain    No_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
15       Hong Kong    No_Ex_fishmeal  ...    No_Ex_DogChews    No_Ex_aquatic
16          Canada    No_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
17          France    No_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
18       Singapore    No_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
19     Netherlands    No_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
20          Brazil    No_Ex_fishmeal  ...    No_Ex_DogChews   Yes_Ex_aquatic
21          Russia    No_Ex_fishmeal  ...    No_Ex_DogChews    No_Ex_aquatic
22         Belgium   Yes_Ex_fishmeal  ...   Yes_Ex_DogChews   Yes_Ex_aquatic
23     New Zealand    No_Ex_fishmeal  ...    No_Ex_DogChews    No_Ex_aquatic
24          Greece    No_Ex_fishmeal  ...    No_Ex_DogChews   Yes_Ex_aquatic
25          Sweden    No_Ex_fishmeal  ...    No_Ex_DogChews    No_Ex_aquatic
26    Saudi Arabia    No_Ex_fishmeal  ...    No_Ex_DogChews    No_Ex_aquatic
27    South Africa    No_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
28         Denmark    No_Ex_fishmeal  ...   Yes_Ex_DogChews    No_Ex_aquatic
29         Finland    No_Ex_fishmeal  ...    No_Ex_DogChews    No_Ex_aquatic
30         Hungary   Yes_Ex_fishmeal  ...    No_Ex_DogChews    No_Ex_aquatic
31         Romania    No_Ex_fishmeal  ...    No_Ex_DogChews    No_Ex_aquatic
32          Turkey    No_Ex_fishmeal  ...    No_Ex_DogChews    No_Ex_aquatic
33          Mexico    No_Ex_fishmeal  ...    No_Ex_DogChews    No_Ex_aquatic
34        Cambodia    No_Ex_fishmeal  ...    No_Ex_DogChews    No_Ex_aquatic
35  Czech Republic    No_Ex_fishmeal  ...    No_Ex_DogChews    No_Ex_aquatic

[36 rows x 9 columns]

In [34]:
Import_df2.shape #ตรวจสอบคอลั่มและแถวว่าตรงตามที่ต้องการหรือไม่

(36, 6)

In [35]:
Export_df2.shape #ตรวจสอบคอลั่มและแถวว่าตรงตามที่ต้องการหรือไม่

(36, 9)

# *วน loop เขียนอธิบายเพิ่ม

In [41]:
#Convert data to list 
transacs1 = []
for i in range(0,len(Import_df2)):
  transacs1.append([str(Import_df2.values[i,j]) for j in range(1,6)]) #ตอน transection ไม่ต้องการดู Country จึงเริ่มที่ 1-6 
transacs1

[['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['No_Im_main', 'No_Im_mixed', 'No_Im_dairy', 'No_Im_petsup', 'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main',
  'No_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['No_Im_main', 'Yes_Im_mixed', 'No_Im_dairy', 'No_Im_petsup', 'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['No_Im_main', 'No_Im_mixed', 'No_Im_dairy', 'Yes_Im_petsup', 'No_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['No_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['No_Im_main', 'No_Im_mixed', 'No_Im_dairy', 'Yes_Im_petsup', 'Yes_Im_other'],
 ['No_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['No_Im_main', 'No_Im_mixed', 'No_Im_dairy', 'Yes_Im_petsup', 'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['No_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['No_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'No_Im_petsup',
  'Yes_Im_other'],
 ['No_Im_main', 'No_Im_mixed', 'No_Im_dairy', 'No_Im_petsup', 'Yes_Im_other'],
 ['Yes_Im_main', 'No_Im_mixed', 'No_Im_dairy', 'No_Im_petsup', 'No_Im_other'],
 ['Yes_Im_main',
  'No_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main', 'No_Im_mixed', 'No_Im_dairy', 'No_Im_petsup', 'No_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['No_Im_main', 'No_Im_mixed', 'No_Im_dairy', 'No_Im_petsup', 'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['No_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main',
  'No_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other']]

In [42]:
#Convert data to list 
transacs2 = []
for i in range(0,len(Export_df2)):
  transacs2.append([str(Export_df2.values[i,j]) for j in range(1,9)]) #ตอน transection ไม่ต้องการดู Country จึงเริ่มที่ 1-9 
transacs2

[['No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['Yes_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'Yes_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'Yes_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'Yes_Ex_petsup',
  'Yes_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['Yes_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'Yes_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'Yes_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'Yes_Ex_petsup',
  'Yes_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['Yes_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'Yes_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['Yes_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'Yes_Ex_petsup',
  'Yes_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'Yes_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic']]

##รวมตาราง Import_df2 และ Export_df2 โดยใช้ .merge

In [47]:
Animalfeed_mg = Import_df2.merge(Export_df2,how='left',left_on='Country',right_on='Country')
Animalfeed_mg

           Country Im_main_group  ... Ex_DogChews_group Ex_aquatic_group
0        Australia   Yes_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
1       Bangladesh    No_Im_main  ...    No_Ex_DogChews   Yes_Ex_aquatic
2          Belgium   Yes_Im_main  ...   Yes_Ex_DogChews   Yes_Ex_aquatic
3           Brazil   Yes_Im_main  ...    No_Ex_DogChews   Yes_Ex_aquatic
4         Cambodia    No_Im_main  ...    No_Ex_DogChews    No_Ex_aquatic
5           Canada   Yes_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
6            China   Yes_Im_main  ...    No_Ex_DogChews   Yes_Ex_aquatic
7   Czech Republic    No_Im_main  ...    No_Ex_DogChews    No_Ex_aquatic
8          Denmark   Yes_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
9          Finland    No_Im_main  ...    No_Ex_DogChews    No_Ex_aquatic
10          France   Yes_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
11         Germany   Yes_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
12          Greece    No_Im_main  ...    No_Ex_DogChews   Yes_Ex_aquatic
13       Hong Kong    No_Im_main  ...    No_Ex_DogChews    No_Ex_aquatic
14         Hungary    No_Im_main  ...    No_Ex_DogChews    No_Ex_aquatic
15           India   Yes_Im_main  ...    No_Ex_DogChews   Yes_Ex_aquatic
16       Indonesia   Yes_Im_main  ...    No_Ex_DogChews   Yes_Ex_aquatic
17           Italy   Yes_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
18           Japan   Yes_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
19           Korea   Yes_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
20        Malaysia    No_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
21          Mexico    No_Im_main  ...    No_Ex_DogChews    No_Ex_aquatic
22     Netherlands   Yes_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
23     New Zealand   Yes_Im_main  ...    No_Ex_DogChews    No_Ex_aquatic
24     Philippines    No_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
25         Romania   Yes_Im_main  ...    No_Ex_DogChews    No_Ex_aquatic
26          Russia   Yes_Im_main  ...    No_Ex_DogChews    No_Ex_aquatic
27    Saudi Arabia   Yes_Im_main  ...    No_Ex_DogChews    No_Ex_aquatic
28       Singapore   Yes_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
29    South Africa    No_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
30           Spain   Yes_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
31          Sweden    No_Im_main  ...    No_Ex_DogChews    No_Ex_aquatic
32          Taiwan   Yes_Im_main  ...   Yes_Ex_DogChews    No_Ex_aquatic
33          Turkey   Yes_Im_main  ...    No_Ex_DogChews    No_Ex_aquatic
34          U.S.A.   Yes_Im_main  ...   Yes_Ex_DogChews   Yes_Ex_aquatic
35         Vietnam   Yes_Im_main  ...    No_Ex_DogChews    No_Ex_aquatic

[36 rows x 14 columns]

In [48]:
Animalfeed_mg.shape

(36, 14)

In [49]:
#Convert data to list 
transacs3 = []
for i in range(0,len(Animalfeed_mg)):
  transacs3.append([str(Animalfeed_mg.values[i,j]) for j in range(1,14)]) #ตอน transection ไม่ต้องการดู Country จึงเริ่มที่ 1-14
transacs3

[['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Im_main',
  'No_Im_mixed',
  'No_Im_dairy',
  'No_Im_petsup',
  'Yes_Im_other',
  'Yes_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'Yes_Ex_petsup',
  'Yes_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'Yes_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['Yes_Im_main',
  'No_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['No_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'No_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'Yes_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['No_Im_main',
  'No_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'No_Im_other',
  'No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'Yes_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Im_main',
  'No_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['No_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Im_main',
  'No_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'Yes_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'Yes_Ex_petsup',
  'Yes_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'Yes_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'Yes_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'Yes_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'Yes_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'Yes_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'Yes_Ex_petsup',
  'Yes_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'Yes_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'No_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Im_main',
  'No_Im_mixed',
  'No_Im_dairy',
  'No_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'Yes_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'No_Im_mixed',
  'No_Im_dairy',
  'No_Im_petsup',
  'No_Im_other',
  'No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'No_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'No_Im_mixed',
  'No_Im_dairy',
  'No_Im_petsup',
  'No_Im_other',
  'No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Im_main',
  'No_Im_mixed',
  'No_Im_dairy',
  'No_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['No_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'Yes_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'Yes_Ex_other',
  'Yes_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'No_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'No_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'Yes_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'No_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'No_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'Yes_Ex_canfood',
  'Yes_Ex_DogChews',
  'Yes_Ex_aquatic'],
 ['Yes_Im_main',
  'Yes_Im_mixed',
  'No_Im_dairy',
  'Yes_Im_petsup',
  'Yes_Im_other',
  'Yes_Ex_fishmeal',
  'Yes_Ex_dogcatfood',
  'Yes_Ex_other',
  'No_Ex_petsup',
  'No_Ex_premix',
  'No_Ex_canfood',
  'No_Ex_DogChews',
  'No_Ex_aquatic']]

##Assosiation ตาราง Animalfeed_mg

In [50]:
!pip install apyori
# ทำการติดตั้งแพ็คเกจ apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=815d034021168138585d9ae7966dc578ffbea954918c5d7a884bbd5f04cb80d8
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [51]:
from apyori import apriori

In [54]:
Asso = list(apriori(transacs3,min_support = 0.70, min_cofidence = 0.7))
# min_support = 0.คือ กำหนดให้เท่า 0.70 แปลว่า ทุกกฎที่โผล่มา transacs เกิดขึ้นซ้ำๆประมาณ 500 คือ 0.70 คูณกับ Row 25900
# min_cofidence = 0.7คือ เอา sup มาหารด้วย sup แต่ละอัน
Asso

[RelationRecord(items=frozenset({'No_Ex_aquatic'}), support=0.7777777777777778, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'No_Ex_aquatic'}), confidence=0.7777777777777778, lift=1.0)]),
 RelationRecord(items=frozenset({'No_Ex_fishmeal'}), support=0.7222222222222222, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'No_Ex_fishmeal'}), confidence=0.7222222222222222, lift=1.0)]),
 RelationRecord(items=frozenset({'No_Ex_other'}), support=0.8333333333333334, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'No_Ex_other'}), confidence=0.8333333333333334, lift=1.0)]),
 RelationRecord(items=frozenset({'No_Ex_premix'}), support=0.9166666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'No_Ex_premix'}), confidence=0.9166666666666666, lift=1.0)]),
 RelationRecord(items=frozenset({'No_Im_dairy'}), support=0.7777777777777778, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'No_Im_dairy'}), confidence=0.7777777777777778, lift=1.0)]),
 RelationRecord(items=frozenset({'Yes_Im_other'}), support=0.9166666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Yes_Im_other'}), confidence=0.9166666666666666, lift=1.0)]),
 RelationRecord(items=frozenset({'Yes_Im_petsup'}), support=0.8055555555555556, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Yes_Im_petsup'}), confidence=0.8055555555555556, lift=1.0)]),
 RelationRecord(items=frozenset({'No_Ex_premix', 'No_Ex_aquatic'}), support=0.75, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'No_Ex_premix', 'No_Ex_aquatic'}), confidence=0.75, lift=1.0), OrderedStatistic(items_base=frozenset({'No_Ex_aquatic'}), items_add=frozenset({'No_Ex_premix'}), confidence=0.9642857142857143, lift=1.051948051948052), OrderedStatistic(items_base=frozenset({'No_Ex_premix'}), items_add=frozenset({'No_Ex_aquatic'}), confidence=0.8181818181818182, lift=1.051948051948052)]),
 RelationRecord(items=frozenset({'No_Ex_premix', 'No_Ex_other'}), support=0.75, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'No_Ex_premix', 'No_Ex_other'}), confidence=0.75, lift=1.0), OrderedStatistic(items_base=frozenset({'No_Ex_other'}), items_add=frozenset({'No_Ex_premix'}), confidence=0.8999999999999999, lift=0.9818181818181818), OrderedStatistic(items_base=frozenset({'No_Ex_premix'}), items_add=frozenset({'No_Ex_other'}), confidence=0.8181818181818182, lift=0.9818181818181818)]),
 RelationRecord(items=frozenset({'Yes_Im_other', 'No_Ex_other'}), support=0.75, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'No_Ex_other', 'Yes_Im_other'}), confidence=0.75, lift=1.0), OrderedStatistic(items_base=frozenset({'No_Ex_other'}), items_add=frozenset({'Yes_Im_other'}), confidence=0.8999999999999999, lift=0.9818181818181818), OrderedStatistic(items_base=frozenset({'Yes_Im_other'}), items_add=frozenset({'No_Ex_other'}), confidence=0.8181818181818182, lift=0.9818181818181818)]),
 RelationRecord(items=frozenset({'No_Ex_premix', 'Yes_Im_other'}), support=0.8333333333333334, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'No_Ex_premix', 'Yes_Im_other'}), confidence=0.8333333333333334, lift=1.0), OrderedStatistic(items_base=frozenset({'No_Ex_premix'}), items_add=frozenset({'Yes_Im_other'}), confidence=0.9090909090909092, lift=0.9917355371900828), OrderedStatistic(items_base=frozenset({'Yes_Im_other'}), items_add=frozenset({'No_Ex_premix'}), confidence=0.9090909090909092, lift=0.9917355371900828)]),
 RelationRecord(items=frozenset({'Yes_Im_petsup', 'No_Ex_premix'}), support=0.75, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Yes_Im_petsup', 'No_Ex_premix'}), confidence=0.75, lift=1.0), OrderedStatistic(items_base=frozenset({'No_Ex_premix'}), items_add=frozenset({'Yes_Im_petsup'}), confidence=0.8181818181818182, lift=1.0156739811912225), OrderedStatistic(items_base=frozenset({'Yes_Im_petsup'}), items_add=frozenset({'No_Ex_premix'}), confidence=0.9310344827586207, lift=1.0156739811912225)]),
 RelationRecord(items=frozenset({'Yes_Im_petsup', 'Yes_Im_other'}), support=0.7777777777777778, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Yes_Im_petsup', 'Yes_Im_other'}), confidence=0.7777777777777778, lift=1.0), OrderedStatistic(items_base=frozenset({'Yes_Im_other'}), items_add=frozenset({'Yes_Im_petsup'}), confidence=0.8484848484848485, lift=1.0532915360501567), OrderedStatistic(items_base=frozenset({'Yes_Im_petsup'}), items_add=frozenset({'Yes_Im_other'}), confidence=0.9655172413793103, lift=1.0532915360501567)]),
 RelationRecord(items=frozenset({'Yes_Im_petsup', 'No_Ex_premix', 'Yes_Im_other'}), support=0.7222222222222222, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Yes_Im_petsup', 'No_Ex_premix', 'Yes_Im_other'}), confidence=0.7222222222222222, lift=1.0), OrderedStatistic(items_base=frozenset({'No_Ex_premix'}), items_add=frozenset({'Yes_Im_petsup', 'Yes_Im_other'}), confidence=0.7878787878787878, lift=1.0129870129870129), OrderedStatistic(items_base=frozenset({'Yes_Im_other'}), items_add=frozenset({'Yes_Im_petsup', 'No_Ex_premix'}), confidence=0.7878787878787878, lift=1.0505050505050504), OrderedStatistic(items_base=frozenset({'Yes_Im_petsup'}), items_add=frozenset({'No_Ex_premix', 'Yes_Im_other'}), confidence=0.8965517241379309, lift=1.0758620689655172), OrderedStatistic(items_base=frozenset({'No_Ex_premix', 'Yes_Im_other'}), items_add=frozenset({'Yes_Im_petsup'}), confidence=0.8666666666666666, lift=1.0758620689655172), OrderedStatistic(items_base=frozenset({'Yes_Im_petsup', 'No_Ex_premix'}), items_add=frozenset({'Yes_Im_other'}), confidence=0.9629629629629629, lift=1.0505050505050504), OrderedStatistic(items_base=frozenset({'Yes_Im_petsup', 'Yes_Im_other'}), items_add=frozenset({'No_Ex_premix'}), confidence=0.9285714285714285, lift=1.0129870129870129)])]