<a href="https://colab.research.google.com/github/Kggzzz/KKU_data_mining/blob/master/Project_Animal_feed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ดูความสัมพันธ์ปริมาณการส่งออกอาหารสัตว์เป็นจำนวนมาก ก็จะทำปริมาณนำเข้าอาหารสัตว์ที่เป็นวัตถุดิบในการทำอาหารสัตว์มากขึ้นเช่นกันเยอะ ความสัมพันธ์ที่ได้จากกระบวนการนี้สามารถนำไปใช้คาดเดาได้ว่าควรนำเข้าอาหารสัตว์และส่งออกอาหารสัตว์เพิ่มขึ้นให้กับแต่ละประเทศ ในปีค.ศ. 2015

In [59]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [60]:
path = '/content/drive/My Drive/Project_Mining'

In [61]:
import os
import pandas

In [62]:
Import= os.path.join(path,'Im_animal_feed_tun4.csv')  #สร้างที่อยู่โดยใช้ os.path.join
Export= os.path.join(path,'Ex_animal_feed_tun2.csv')

In [63]:
Import_df = pandas.read_csv(Import)
Import_df.head()

      Country  ... Import other animal feed
0   Australia  ...                 1,414.14
1  Bangladesh  ...                     21.5
2     Belgium  ...                 3,093.18
3      Brazil  ...                12,945.06
4    Cambodia  ...                    60.01

[5 rows x 6 columns]

ชื่อหัวคอลั่ม Import การนำเข้า

Country = ประเทศที่นำเข้า

Import of main raw materials = นำเข้าวัตถุดิบหลัก

Import the mixed = นำเข้าวัตถุที่ผสมแล้ว

Imported dairy products = นำเข้าผลิตภัณฑ์นม

Import of pet supplement = นำเข้าอาหารเสริมสำหรับสัตว์

Import other animal feed = นำเข้าวัตถุดิบอื่นๆ

In [64]:
Export_df = pandas.read_csv(Export) 
Export_df.head()

      Country  ...  Export of aquatic animal feed
0   Australia  ...                        0.00000
1  Bangladesh  ...                       13.10476
2     Belgium  ...                       17.43253
3      Brazil  ...                       14.44400
4    Cambodia  ...                        0.00000

[5 rows x 9 columns]

ชื่อหัวคอลั่ม Export การส่งออก

Country = ประเทศที่ส่งออก

Export of fish meal = ส่งออกปลาป่น 

Export of dog and cat food = ส่งออกอาหารสุนัขและแมว

Export other animal feed = ส่งออกอาหารใช้เลี้ยงสัตว์อื่น ๆ 

Export of pet supplement = ส่งออกอาหารเสริมสัตว์เลี้ยง

Export premix = ส่งออกพรีมิกซ์

Export of canned food for dogs and cats = ส่งออกอาหารกระป๋องสุนัขและแมว

Export Dog Chews = ส่งออก Dog Chews 

Export of aquatic animal feed = ส่งออกอาหารสัตว์น้ำ

ลองเรียกคอลั่มแค่คอลั่มเดียวเพื่อเช็คว่าข้อมูลนั้นใช้งานได้หรือไม่

In [65]:
Import_df["Country"]

0          Australia
1         Bangladesh
2            Belgium
3             Brazil
4           Cambodia
5             Canada
6              China
7     Czech Republic
8            Denmark
9            Finland
10            France
11           Germany
12            Greece
13         Hong Kong
14           Hungary
15             India
16         Indonesia
17             Italy
18             Japan
19             Korea
20          Malaysia
21            Mexico
22       Netherlands
23       New Zealand
24       Philippines
25           Romania
26            Russia
27      Saudi Arabia
28         Singapore
29      South Africa
30             Spain
31            Sweden
32            Taiwan
33            Turkey
34            U.S.A.
35           Vietnam
Name: Country, dtype: object

In [66]:
Export_df["Country"]

0          Australia
1         Bangladesh
2            Belgium
3             Brazil
4           Cambodia
5             Canada
6              China
7     Czech Republic
8            Denmark
9            Finland
10            France
11           Germany
12            Greece
13         Hong Kong
14           Hungary
15             India
16         Indonesia
17             Italy
18             Japan
19             Korea
20          Malaysia
21            Mexico
22       Netherlands
23       New Zealand
24       Philippines
25           Romania
26            Russia
27      Saudi Arabia
28         Singapore
29      South Africa
30             Spain
31            Sweden
32            Taiwan
33            Turkey
34            U.S.A.
35           Vietnam
Name: Country, dtype: object

In [67]:
Import_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(36, 6)

In [68]:
Export_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(36, 9)

#Missing Values ค่าผิดปกติ เช็คดูว่าตารางเรามี missing

In [69]:
Import_df.isnull().any()

Country                         False
Import of main raw materials    False
Import the mixed                False
Imported dairy products         False
Import of pet supplement        False
Import other animal feed        False
dtype: bool

In [70]:
Export_df.isnull().any()

Country                                    False
Export of fish meal                        False
Export of dog and cat food                 False
Export other animal feed                   False
Export of pet supplement                   False
Export premix                              False
Export of canned food for dogs and cats    False
Export Dog Chews                           False
Export of aquatic animal feed              False
dtype: bool

## แก้ไขข้อมูลกำหนดค่าในตาราง 

โดยค่าที่กำหนดคือ สินค้าที่นำเข้าและส่งออกในประเทศต่างๆ 

1. ถ้ามีค่าตั้งแต่ 10 ตันขึ้นไปจะให้เป็น ' 1 ' คือมีการนำเข้าและส่งออก อาหารสัตว์

2. ถ้ามีค่าน้อยกว่า 10 ตันจะให้เป็น ' 0 '  คือไม่มีการนำเข้าและส่งออกอาหารสัตว์

In [83]:
import numpy as np #แก้ไขข้อมูลเนื่องจากข้อมูลในคอลั่มทั้งหมดเป็นตัวเลขจึงใช้ numpy

แก้ตาราง Import_df

In [85]:
df1 = Import_df.iloc[:,1:] #กำหนดสให้... 
df1["Import of main raw materials"] = np.where(df1["Import of main raw materials"]>10,1,0)

TypeError: ignored

แก้ตาราง Export_df

In [86]:
df2 = Export_df.iloc[:,1:]
df2["Export of fish meal"] = np.where(df2["Export of fish meal"]>10,1,0)

In [88]:
df2.head()

   Export of fish meal  ...  Export of aquatic animal feed
0                    0  ...                        0.00000
1                    1  ...                       13.10476
2                    1  ...                       17.43253
3                    0  ...                       14.44400
4                    0  ...                        0.00000

[5 rows x 8 columns]

#รวมตาราง Import_df และ Export_df โดยใช้ .merge

In [92]:
Animalfeed_mg = Import_df.merge(Export_df,how='left',left_on='Country',right_on='Country')
Animalfeed_mg

           Country  ... Export of aquatic animal feed
0        Australia  ...                       0.00000
1       Bangladesh  ...                      13.10476
2          Belgium  ...                      17.43253
3           Brazil  ...                      14.44400
4         Cambodia  ...                       0.00000
5           Canada  ...                       0.00000
6            China  ...                      17.94300
7   Czech Republic  ...                       0.00000
8          Denmark  ...                       0.00000
9          Finland  ...                       0.00000
10          France  ...                       0.00000
11         Germany  ...                       0.00000
12          Greece  ...                      19.72100
13       Hong Kong  ...                       0.74500
14         Hungary  ...                       0.00000
15           India  ...                      86.66050
16       Indonesia  ...                      24.68040
17           Italy  ...                       0.00000
18           Japan  ...                       0.63750
19           Korea  ...                       3.16989
20        Malaysia  ...                       0.91000
21          Mexico  ...                       0.17900
22     Netherlands  ...                       0.00000
23     New Zealand  ...                       0.00000
24     Philippines  ...                       5.09000
25         Romania  ...                       0.00000
26          Russia  ...                       0.00000
27    Saudi Arabia  ...                       0.00000
28       Singapore  ...                       1.88000
29    South Africa  ...                       0.00000
30           Spain  ...                       0.00000
31          Sweden  ...                       0.00000
32          Taiwan  ...                       1.06500
33          Turkey  ...                       6.09500
34          U.S.A.  ...                      28.84020
35         Vietnam  ...                       3.40170

[36 rows x 14 columns]