<a href="https://colab.research.google.com/github/Kggzzz/KKU_data_mining/blob/master/Project_Animal_feed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
path = '/content/drive/My Drive/Project_Mining'

In [4]:
import os
import pandas

In [5]:
Import= os.path.join(path,'Import.csv')  #สร้างที่อยู่โดยใช้ os.path.join
Export= os.path.join(path,'Export.csv')

In [6]:
Import_df = pandas.read_csv(Import)
Import_df.head()

    ประเทศนำเข้า   ... มูลค่ารวมทั้งสิ้น (ลบ.)
0   สหรัฐอเมริกา   ...                 25842.67
1         บราซิล   ...                 22272.29
2         ยูเครน   ...                 11805.98
3    อาร์เจนตินา   ...                  9179.14
4            จีน   ...                  7281.89

[5 rows x 13 columns]

In [7]:
Export_df = pandas.read_csv(Export) 
Export_df.head()

  ประเทศที่ส่งออก  ...  มูลค่ารวมทั้งสิ้น (บาท)
0    สหรัฐอเมริกา  ...             5.832218e+08
1         ญี่ปุ่น  ...             4.446315e+08
2             จีน  ...             3.501261e+08
3        มาเลเซีย  ...             2.586686e+08
4          อิตาลี  ...             2.406755e+08

[5 rows x 19 columns]

In [8]:
Import_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(69, 13)

In [9]:
Export_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(53, 19)

#Missing Values ค่าผิดปกติ เช็คดูว่าตารางเรามี missing

In [10]:
Import_df.isnull() # .isnull ดูว่าแต่ละช่องในตารางมีช่องว่างรึป่าว

     ประเทศนำเข้า   ...  มูลค่ารวมทั้งสิ้น (ลบ.)
0            False  ...                     False
1            False  ...                     False
2            False  ...                     False
3            False  ...                     False
4            False  ...                     False
..             ...  ...                       ...
64           False  ...                     False
65           False  ...                     False
66           False  ...                     False
67           False  ...                     False
68           False  ...                     False

[69 rows x 13 columns]

In [11]:
Export_df.isnull()

    ประเทศที่ส่งออก  ...  มูลค่ารวมทั้งสิ้น (บาท)
0             False  ...                    False
1             False  ...                    False
2             False  ...                    False
3             False  ...                    False
4             False  ...                    False
5             False  ...                    False
6             False  ...                    False
7             False  ...                    False
8             False  ...                    False
9             False  ...                    False
10            False  ...                    False
11            False  ...                    False
12            False  ...                    False
13            False  ...                    False
14            False  ...                    False
15            False  ...                    False
16            False  ...                    False
17            False  ...                    False
18            False  ...                    False
19            False  ...                    False
20            False  ...                    False
21            False  ...                    False
22            False  ...                    False
23            False  ...                    False
24            False  ...                    False
25            False  ...                    False
26            False  ...                    False
27            False  ...                    False
28            False  ...                    False
29            False  ...                    False
30            False  ...                    False
31            False  ...                    False
32            False  ...                    False
33            False  ...                    False
34            False  ...                    False
35            False  ...                    False
36            False  ...                    False
37            False  ...                    False
38            False  ...                    False
39            False  ...                    False
40            False  ...                    False
41            False  ...                    False
42            False  ...                    False
43            False  ...                    False
44            False  ...                    False
45            False  ...                    False
46            False  ...                    False
47            False  ...                    False
48            False  ...                    False
49            False  ...                    False
50            False  ...                    False
51            False  ...                    False
52            False  ...                    False

[53 rows x 19 columns]

In [12]:
Export_df.isnull().any()

ประเทศที่ส่งออก                          False
ปริมาณปลาป่น (กก.)                        True
มูลค่าปลาป่น (บาท)                        True
ปริมาณ อาหารสุนัขและแมว (กก.)             True
มูลค่าอาหารสุนัขและแมว (บาท)              True
ปริมาณอาหารใช้เลี้ยงสัตว์อื่น ๆ (กก.)     True
มูลค่าอาหารใช้เลี้ยงสัตว์อื่น ๆ (บาท)     True
ปริมาณอาหารเสริมสัตว์เลี้ยง (กก.)         True
มูลค่าอาหารเสริมสัตว์เลี้ยง (บาท)         True
ปริมาณพรีมิกซ์ (กก.)                      True
มูลค่าพรีมิกซ์ (บาท)                      True
ปริมาณอาหารกระป๋องสุนัขและแมว (กก.)       True
มูลค่าอาหารกระป๋องสุนัขและแมว (บาท)       True
ปริมาณDog Chews (กก.)                     True
มูลค่าDog Chews (บาท)                     True
ปริมาณอาหารสัตว์น้ำ (กก.)                 True
มูลค่าอาหารสัตว์น้ำ (บาท)                 True
ปริมาณรวมทั้งสิ้น (กก.)                  False
มูลค่ารวมทั้งสิ้น (บาท)                  False
dtype: bool

#แก้ไขค่า missing โดยใช้ fallna

In [13]:
Export_df[['ปริมาณปลาป่น (กก.)']] = Export_df[['ปริมาณปลาป่น (กก.)']].fillna(0)

In [14]:
Export_df[['มูลค่าปลาป่น (บาท)']] = Export_df[['มูลค่าปลาป่น (บาท)']].fillna(0)

In [15]:
Export_df[['ปริมาณ อาหารสุนัขและแมว (กก.)']] = Export_df[['ปริมาณ อาหารสุนัขและแมว (กก.)']].fillna(0)

In [16]:
Export_df[['มูลค่าอาหารสุนัขและแมว (บาท)']] = Export_df[['มูลค่าอาหารสุนัขและแมว (บาท)']].fillna(0)

In [17]:
Export_df[['ปริมาณอาหารใช้เลี้ยงสัตว์อื่น ๆ (กก.)']] = Export_df[['ปริมาณอาหารใช้เลี้ยงสัตว์อื่น ๆ (กก.)']].fillna(0)

In [18]:
Export_df[['มูลค่าอาหารใช้เลี้ยงสัตว์อื่น ๆ (บาท)']] = Export_df[['มูลค่าอาหารใช้เลี้ยงสัตว์อื่น ๆ (บาท)']].fillna(0)

In [19]:
Export_df[['ปริมาณอาหารเสริมสัตว์เลี้ยง (กก.)']] = Export_df[['ปริมาณอาหารเสริมสัตว์เลี้ยง (กก.)']].fillna(0)

In [20]:
Export_df[['มูลค่าอาหารกระป๋องสุนัขและแมว (บาท)']] = Export_df[['มูลค่าอาหารกระป๋องสุนัขและแมว (บาท)']].fillna(0)

In [21]:
Export_df[['ปริมาณDog Chews (กก.)']] = Export_df[['ปริมาณDog Chews (กก.)']].fillna(0)

In [22]:
Export_df[['มูลค่าอาหารสัตว์น้ำ (บาท)']] = Export_df[['มูลค่าอาหารสัตว์น้ำ (บาท)']].fillna(0)

In [23]:
Export_df[['ปริมาณรวมทั้งสิ้น (กก.)']] = Export_df[['ปริมาณรวมทั้งสิ้น (กก.)']].fillna(0)

In [24]:
Export_df[['มูลค่ารวมทั้งสิ้น (บาท)']] = Export_df[['มูลค่ารวมทั้งสิ้น (บาท)']].fillna(0)

In [25]:
Export_df[['มูลค่าอาหารเสริมสัตว์เลี้ยง (บาท)']] = Export_df[['มูลค่าอาหารเสริมสัตว์เลี้ยง (บาท)']].fillna(0)

In [26]:
Export_df[['ปริมาณพรีมิกซ์ (กก.)']] = Export_df[['ปริมาณพรีมิกซ์ (กก.)']].fillna(0)

In [27]:
Export_df[['มูลค่าพรีมิกซ์ (บาท)']] = Export_df[['มูลค่าพรีมิกซ์ (บาท)']].fillna(0)

In [28]:
Export_df[['ปริมาณอาหารกระป๋องสุนัขและแมว (กก.)']] = Export_df[['ปริมาณอาหารกระป๋องสุนัขและแมว (กก.)']].fillna(0)

In [29]:
Export_df[['มูลค่าDog Chews (บาท)']] = Export_df[['มูลค่าDog Chews (บาท)']].fillna(0)

In [30]:
Export_df[['ปริมาณอาหารสัตว์น้ำ (กก.)']] = Export_df[['ปริมาณอาหารสัตว์น้ำ (กก.)']].fillna(0)

In [31]:
Export_df.isnull().any()

ประเทศที่ส่งออก                          False
ปริมาณปลาป่น (กก.)                       False
มูลค่าปลาป่น (บาท)                       False
ปริมาณ อาหารสุนัขและแมว (กก.)            False
มูลค่าอาหารสุนัขและแมว (บาท)             False
ปริมาณอาหารใช้เลี้ยงสัตว์อื่น ๆ (กก.)    False
มูลค่าอาหารใช้เลี้ยงสัตว์อื่น ๆ (บาท)    False
ปริมาณอาหารเสริมสัตว์เลี้ยง (กก.)        False
มูลค่าอาหารเสริมสัตว์เลี้ยง (บาท)        False
ปริมาณพรีมิกซ์ (กก.)                     False
มูลค่าพรีมิกซ์ (บาท)                     False
ปริมาณอาหารกระป๋องสุนัขและแมว (กก.)      False
มูลค่าอาหารกระป๋องสุนัขและแมว (บาท)      False
ปริมาณDog Chews (กก.)                    False
มูลค่าDog Chews (บาท)                    False
ปริมาณอาหารสัตว์น้ำ (กก.)                False
มูลค่าอาหารสัตว์น้ำ (บาท)                False
ปริมาณรวมทั้งสิ้น (กก.)                  False
มูลค่ารวมทั้งสิ้น (บาท)                  False
dtype: bool

In [32]:
pd_concat = pandas.concat([Import_df,Export_df])
pd_concat

     ประเทศนำเข้า   ... มูลค่ารวมทั้งสิ้น (บาท)
0    สหรัฐอเมริกา   ...                     NaN
1          บราซิล   ...                     NaN
2          ยูเครน   ...                     NaN
3     อาร์เจนตินา   ...                     NaN
4             จีน   ...                     NaN
..             ...  ...                     ...
48             NaN  ...               106062.04
49             NaN  ...                55554.62
50             NaN  ...                  154.00
51             NaN  ...                  132.89
52             NaN  ...                   32.00

[122 rows x 32 columns]