<a href="https://colab.research.google.com/github/Kggzzz/KKU_data_mining/blob/master/Project_Gasohol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [39]:
path = '/content/drive/My Drive/Project_Mining'
#path คือ การสร้างตัวแปรเป็นที่อยู่ของไฟล์

In [40]:
import os
import pandas as pd

In [41]:
SH_E20 = os.path.join(path,'SH_E20.csv')  #สร้างที่อยู่โดยใช้ os.path.join
SH_E91 = os.path.join(path,'SH_E91.csv')

In [42]:
SH_E20_df = pandas.read_csv(SH_E20)
SH_E20_df

    ลำดับที่  ... ปริมาณ /พันลิตร รวมทั้งสิ้น
0        NaN  ...                      66,571
1        1.0  ...                      40,687
2        2.0  ...                       8,404
3        3.0  ...                       9,250
4        4.0  ...                       8,230
..       ...  ...                         ...
86      74.0  ...                         710
87      75.0  ...                         855
88      76.0  ...                         490
89      77.0  ...                         565
90       NaN  ...                     194,789

[91 rows x 15 columns]

In [43]:
SH_E91_df = pandas.read_csv(SH_E91)
SH_E91_df

    ลำดับที่  ... ปริมาณ /พันลิตร รวมทั้งสิ้น
0        NaN  ...                      67,588
1        1.0  ...                      44,098
2        2.0  ...                       8,285
3        3.0  ...                       6,962
4        4.0  ...                       8,243
..       ...  ...                         ...
86      74.0  ...                         714
87      75.0  ...                         583
88      76.0  ...                         372
89      77.0  ...                         923
90       NaN  ...                     248,182

[91 rows x 17 columns]

In [44]:
SH_E20_df.shape

(91, 15)

In [45]:
SH_E91_df.shape

(91, 17)

In [46]:
SH_E20_df.isnull().any()

ลำดับที่                        True
จังหวัด                        False
ปตท.                            True
เชลล์                           True
เอสโซ่                          True
เชฟรอน(ไทย)                     True
บางจาก                          True
ซัสโก้                          True
พีทีจี                          True
ไทยออยล์                        True
ซัสโก้ ดีลเลอร์ส                True
สยามเฆมี                        True
ปตท. ค้าปลีก                    True
ปตท. น้ำมันและการค้าปลีก       False
ปริมาณ /พันลิตร รวมทั้งสิ้น    False
dtype: bool

In [47]:
SH_E91_df.isnull().any()

ลำดับที่                        True
จังหวัด                        False
ปตท.                            True
เชลล์                           True
เอสโซ่                          True
เชฟรอน(ไทย)                     True
บางจาก                          True
ซัสโก้                          True
พีทีจี                          True
ไทยออยล์                        True
ซัสโก้ ดีลเลอร์ส                True
สยามเฆมี                        True
ปตท. ค้าปลีก                    True
น้ำมัน ไออาร์พีซี               True
ไออาร์พีซี                      True
ปตท. น้ำมันและการค้าปลีก       False
ปริมาณ /พันลิตร รวมทั้งสิ้น    False
dtype: bool

In [51]:
SH_E20_df[['ลำดับที่']] = SH_E20_df[['ลำดับที่']].fillna(0)

In [52]:
SH_E20_df[['ปตท.']] = SH_E20_df[['ปตท.']].fillna(0)

In [50]:
SH_E20_df[['เชลล์']] = SH_E20_df[['เชลล์']].fillna(0)

In [53]:
SH_E20_df[['เอสโซ่']] = SH_E20_df[['เอสโซ่']].fillna(0)

In [54]:
SH_E20_df[['เชฟรอน(ไทย)']] = SH_E20_df[['เชฟรอน(ไทย)']].fillna(0)

In [55]:
SH_E20_df[['บางจาก']] = SH_E20_df[['บางจาก']].fillna(0)

In [56]:
SH_E20_df[['ซัสโก้']] = SH_E20_df[['ซัสโก้']].fillna(0)

In [57]:
SH_E20_df[['พีทีจี']] = SH_E20_df[['พีทีจี']].fillna(0)

In [58]:
SH_E20_df[['ไทยออยล์']] = SH_E20_df[['ไทยออยล์']].fillna(0)

In [59]:
SH_E20_df[['ซัสโก้ ดีลเลอร์ส']] = SH_E20_df[['ซัสโก้ ดีลเลอร์ส']].fillna(0)

In [60]:
SH_E20_df[['สยามเฆมี']] = SH_E20_df[['สยามเฆมี']].fillna(0)

In [61]:
SH_E20_df[['ปตท. ค้าปลีก']] = SH_E20_df[['ปตท. ค้าปลีก']].fillna(0)

In [62]:
SH_E20_df.isnull().any()

ลำดับที่                       False
จังหวัด                        False
ปตท.                           False
เชลล์                          False
เอสโซ่                         False
เชฟรอน(ไทย)                    False
บางจาก                         False
ซัสโก้                         False
พีทีจี                         False
ไทยออยล์                       False
ซัสโก้ ดีลเลอร์ส               False
สยามเฆมี                       False
ปตท. ค้าปลีก                   False
ปตท. น้ำมันและการค้าปลีก       False
ปริมาณ /พันลิตร รวมทั้งสิ้น    False
dtype: bool

In [75]:
SH_E91_df[['ลำดับที่']] = SH_E91_df[['ลำดับที่']].fillna(0)

In [76]:
SH_E91_df[['ปตท.']] = SH_E91_df[['ปตท.']].fillna(0)

In [77]:
SH_E91_df[['เชลล์']] = SH_E91_df[['เชลล์']].fillna(0)

In [78]:
SH_E91_df[['เอสโซ่']] = SH_E91_df[['เอสโซ่']].fillna(0)

In [79]:
SH_E91_df[['เชฟรอน(ไทย)']] = SH_E91_df[['เชฟรอน(ไทย)']].fillna(0)

In [80]:
SH_E91_df[['บางจาก']] = SH_E91_df[['บางจาก']].fillna(0)

In [81]:
SH_E91_df[['ซัสโก้']] = SH_E91_df[['ซัสโก้']].fillna(0)

In [82]:
SH_E91_df[['พีทีจี']] = SH_E91_df[['พีทีจี']].fillna(0)

In [83]:
SH_E91_df[['ไทยออยล์']] = SH_E91_df[['ไทยออยล์']].fillna(0)

In [84]:
SH_E91_df[['ซัสโก้ ดีลเลอร์ส']] = SH_E91_df[['ซัสโก้ ดีลเลอร์ส']].fillna(0)

In [85]:
SH_E91_df[['สยามเฆมี']] = SH_E91_df[['สยามเฆมี']].fillna(0)

In [86]:
SH_E91_df[['ปตท. ค้าปลีก']] = SH_E91_df[['ปตท. ค้าปลีก']].fillna(0)

In [87]:
SH_E91_df[['น้ำมัน ไออาร์พีซี']] = SH_E91_df[['น้ำมัน ไออาร์พีซี']].fillna(0)

In [89]:
SH_E91_df[['ไออาร์พีซี']] = SH_E91_df[['ไออาร์พีซี']].fillna(0)

In [90]:
SH_E91_df.isnull().any()

ลำดับที่                       False
จังหวัด                        False
ปตท.                           False
เชลล์                          False
เอสโซ่                         False
เชฟรอน(ไทย)                    False
บางจาก                         False
ซัสโก้                         False
พีทีจี                         False
ไทยออยล์                       False
ซัสโก้ ดีลเลอร์ส               False
สยามเฆมี                       False
ปตท. ค้าปลีก                   False
น้ำมัน ไออาร์พีซี              False
ไออาร์พีซี                     False
ปตท. น้ำมันและการค้าปลีก       False
ปริมาณ /พันลิตร รวมทั้งสิ้น    False
dtype: bool

รวมตาราง

In [91]:
merged_table = SH_E20_df.merge(SH_E91_df,how='left',left_on='จังหวัด',right_on='จังหวัด')
merged_table

    ลำดับที่_x  ... ปริมาณ /พันลิตร รวมทั้งสิ้น_y
0          0.0  ...                        67,588
1          1.0  ...                        44,098
2          2.0  ...                         8,285
3          3.0  ...                         6,962
4          4.0  ...                         8,243
..         ...  ...                           ...
86        74.0  ...                           714
87        75.0  ...                           583
88        76.0  ...                           372
89        77.0  ...                           923
90         0.0  ...                       248,182

[91 rows x 31 columns]