<a href="https://colab.research.google.com/github/Kggzzz/KKU_data_mining/blob/master/Project_AnimalFeed_real.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
path = '/content/drive/My Drive/Project_Mining'

In [3]:
import os
import pandas as pd

In [4]:
from pandas.api.types import CategoricalDtype

In [9]:
Import= os.path.join(path,'Import_nw4.csv')  #สร้างที่อยู่โดยใช้ os.path.join
Export= os.path.join(path,'Ex_animalfeed_tun3.csv')

In [12]:
Import_df = pd.read_csv(Import)
Import_df.head() #เรียกตารางมาดู

      Country  ...  Import_other_animal_feed
0   Australia  ...                   1414.14
1  Bangladesh  ...                     21.50
2     Belgium  ...                   3093.18
3      Brazil  ...                  12945.06
4    Cambodia  ...                     60.01

[5 rows x 6 columns]

In [13]:
Export_df = pd.read_csv(Export) 
Export_df.head() #เรียกตารางมาดู

    Country  Export_of_fishmeal  ...  Export_Dog_Chews  Export_of_aquatic_animalfeed
0    U.S.A.                 0.0  ...         124.50461                       28.8402
1     Japan              2245.0  ...         118.31314                        0.6375
2     China              7010.0  ...           0.00000                       17.9430
3  Malaysia                 0.0  ...          61.05034                        0.9100
4     Italy                 0.0  ...          17.83016                        0.0000

[5 rows x 9 columns]