<a href="https://colab.research.google.com/github/Kggzzz/KKU_data_mining/blob/master/Project_Animal_feed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ดูความสัมพันธ์ปริมาณการส่งออกอาหารสัตว์เป็นจำนวนมาก ก็จะทำปริมาณนำเข้าอาหารสัตว์ที่เป็นวัตถุดิบในการทำอาหารสัตว์มากขึ้นเช่นกันเยอะ ความสัมพันธ์ที่ได้จากกระบวนการนี้สามารถนำไปใช้คาดเดาได้ว่าควรนำเข้าอาหารสัตว์และส่งออกอาหารสัตว์เพิ่มขึ้นให้กับแต่ละประเทศ

In [1]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
path = '/content/drive/My Drive/Project_Mining'

In [3]:
import os
import pandas

In [14]:
Import= os.path.join(path,'Im_animalfeed_tun2.csv')  #สร้างที่อยู่โดยใช้ os.path.join
Export= os.path.join(path,'Ex_animalfeed_tun2.csv')

In [15]:
Import_df = pandas.read_csv(Import)
Import_df.head()

    ????????????   ... ???????????????????
0   ????????????   ...           11,292.58
1         ??????   ...           12,945.06
2            ???   ...           10,521.66
3       ????????   ...            1,690.43
4      ?????????   ...            3,093.18

[5 rows x 6 columns]

In [16]:
Export_df = pandas.read_csv(Export) 
Export_df.head()

  ???????????????  ????????????   ...  ?????? Dog Chews   ???????????????????
0    ????????????            0.0  ...          124.50461              28.8402
1         ???????         2245.0  ...          118.31314               0.6375
2             ???         7010.0  ...            0.00000              17.9430
3        ????????            0.0  ...           61.05034               0.9100
4          ??????            0.0  ...           17.83016               0.0000

[5 rows x 9 columns]

In [17]:
Import_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(36, 6)

In [18]:
Export_df.shape # .shape เป็นคำสั่งที่ใช้เช็คว่าข้อมูลที่เอามามีความผิดพลาดรึเปล่า จำนวนแถว,จำนวนหลัก

(36, 9)

#Missing Values ค่าผิดปกติ เช็คดูว่าตารางเรามี missing

In [19]:
Import_df.isnull().any()

 ????????????                  False
??????????????????             False
?????????????????????          False
?????????????????              False
???????????????????????????    False
???????????????????            False
dtype: bool

In [20]:
Export_df.isnull().any()

???????????????                     False
????????????                        False
??????????????????????              False
????????????????????????????? ?     False
???????????????????????????         False
??????????????                      False
?????????????????????????????       False
?????? Dog Chews                    False
???????????????????                 False
dtype: bool